<section class="content-header">
    <h1>
        Patient History
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Patient History</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
	
    <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <!-- The time line -->
            <ul class="timeline">
            	<li>
                    <i class="fa fa-suitcase bg-blue-gradient text-white"></i>
                    <div class="timeline-item">
                        <h3 class="timeline-header">{{taskHistory.patient.name}}</h3>
                        <div class="timeline-body">
	                        <div class="row">
		                        <div class="col-md-3 col-sd-12">
			                        <div class="timeline-body">
						            	<b>Patient Registration Number :</b>
						            </div>
					            </div>
					            <div class="col-md-3 col-sd-12">
			                        <div class="timeline-body">
						            	{{taskHistory.patient.prn}}
						            </div>
					            </div>
					            <div class="col-md-3 col-sd-12">
			                        <div class="timeline-body">
						            	<b></b>
						            </div>
					            </div>
					            <div class="col-md-3 col-sd-12">
			                        <div class="timeline-body">
						            </div>
					            </div>
				            </div>
			            </div>
                    </div>
                </li>
                
                <li class="time-label" ng-if="taskHistory.tasks.PatientRegistration">
                    <span ng-class="(taskHistory.tasks.PatientRegistration.endTime) ? 'bg-green-gradient' : 'bg-red-gradient' ">
                        {{taskHistory.tasks.PatientRegistration.createTime}}
                    </span>
                </li>
                <li ng-if="taskHistory.tasks.PatientRegistration">
                    <i class="fa fa-suitcase bg-blue-gradient text-white"></i>
                    <div class="timeline-item">
                        <span class="time">{{taskHistory.tasks.PatientRegistration.description}}</span>
                        <h3 class="timeline-header"><b>{{taskHistory.tasks.PatientRegistration.nextTask}}</b></h3>
						<div class="timeline-body">
							<div class="row">
		                        <div class="col-md-3 col-sd-12">
			                        <div class="timeline-body text-right">
						            	<b>Patient Registration Number :</b>
						            </div>
					            </div>
					            <div class="col-md-3 col-sd-12">
			                        <div class="timeline-body">
						            	{{taskHistory.patient.prn}}
						            </div>
					            </div>
					            <div class="col-md-3 col-sd-12 text-right">
			                        <div class="timeline-body">
						            	<b>Gender :</b>
						            </div>
					            </div>
					            <div class="col-md-3 col-sd-12">
			                        <div class="timeline-body">
						            	{{taskHistory.patient.gender}}
						            </div>
					            </div>
				            </div>
				            <div class="row">
		                        <div class="col-md-3 col-sd-12">
			                        <div class="timeline-body text-right">
						            	<b>Address :</b>
						            </div>
					            </div>
					            <div class="col-md-3 col-sd-12">
			                        <div class="timeline-body">
						            	{{taskHistory.patient.address}}
						            </div>
					            </div>
					            <div class="col-md-3 col-sd-12 text-right">
			                        <div class="timeline-body">
						            	<b>Contact No :</b>
						            </div>
					            </div>
					            <div class="col-md-3 col-sd-12">
			                        <div class="timeline-body">
						            	{{taskHistory.patient.contact}}
						            </div>
					            </div>
				            </div>
				            <div class="row">
		                        <div class="col-md-3 col-sd-12 text-right">
			                        <div class="timeline-body">
						            	<b>Assets Owned :</b>
						            </div>
					            </div>
					            <div class="col-md-3 col-sd-12">
			                        <div class="timeline-body">
						            	{{taskHistory.patient.assetsOwned}}
						            </div>
					            </div>
					            <div class="col-md-3 col-sd-12 text-right">
			                        <div class="timeline-body">
						            	<b>Employment Status :</b>
						            </div>
					            </div>
					            <div class="col-md-3 col-sd-12">
			                        <div class="timeline-body">
						            	{{taskHistory.patient.employmentStatus}}
						            </div>
					            </div>
				            </div>
				            
				            <div class="row">
		                        <div class="col-md-3 col-sd-12">
			                        <div class="timeline-body text-right">
						            	<b>Sole Bread Winner :</b>
						            </div>
					            </div>
					            <div class="col-md-3 col-sd-12">
			                        <div class="timeline-body">
						            	{{taskHistory.patient.solebreadwinner}}
						            </div>
					            </div>
					            <div class="col-md-3 col-sd-12">
			                        <div class="timeline-body text-right">
						            	<b>??? :</b>
						            </div>
					            </div>
					            <div class="col-md-3 col-sd-12">
			                        <div class="timeline-body">
						            	{{taskHistory.patient.employmentStatus}}
						            </div>
					            </div>
				            </div>
						</div>
                    </div>
                </li>
                
                <li class="time-label" ng-if="taskHistory.tasks.PreliminaryExamination">
                    <span ng-class="(taskHistory.tasks.PreliminaryExamination.endTime) ? 'bg-green-gradient' : 'bg-red-gradient' ">
                        {{taskHistory.tasks.PreliminaryExamination.createTime}}
                    </span>
                </li>
                <li ng-if="taskHistory.tasks.PreliminaryExamination.endTime">
                    <i class="fa fa-suitcase bg-blue-gradient text-white"></i>
                    <div class="timeline-item">
                        <span class="time">{{taskHistory.tasks.PreliminaryExamination.description}}</span>
                        <h3 class="timeline-header"><b>{{taskHistory.tasks.PreliminaryExamination.nextTask}}</b></h3>
                        <div class="timeline-body">
                        	
                        	<div class="row">
		                        <div class="col-md-2 col-sd-12">
			                        <div class="timeline-body text-right">
						            	<b>Doctor :</b>
						            </div>
					            </div>
					            <div class="col-md-10 col-sd-12">
			                        <div class="timeline-body">
						            	{{taskHistory.tasks.PreliminaryExamination.investigation.investigatorName}}
						            </div>
					            </div>
				            </div>
				            
				            <div class="row">
		                        <div class="col-md-2 col-sd-12">
			                        <div class="timeline-body text-right">
						            	<b>Comments :</b>
						            </div>
					            </div>
					            <div class="col-md-10 col-sd-12">
			                        <div class="timeline-body">
						            	{{taskHistory.tasks.PreliminaryExamination.investigation.comments}}
						            </div>
					            </div>
				            </div>
				            
				            <div class="row" ng-repeat="doc in taskHistory.tasks.PreliminaryExamination.documents">
		                        <div class="col-md-2 col-sd-12">
			                        <div class="timeline-body text-right">
						            	<b>Document Category :</b>
						            </div>
					            </div>
					            <div class="col-md-2 col-sd-12">
			                        <div class="timeline-body">
						            	{{doc.category}}
						            </div>
					            </div>
					            <div class="col-md-2 col-sd-12">
			                        <div class="timeline-body text-right">
						            	<b>Document :</b>
						            </div>
					            </div>
					            <div class="col-md-6 col-sd-12">
			                        <div class="timeline-body">
						            	<a href="{{doc.docId}}">Download</a>
						            </div>
					            </div>
				            </div>
				                
                        </div>
                        
                    </div>
                </li>
                
                <li class="time-label" ng-if="taskHistory.tasks.BackgroundCheck">
                    <span ng-class="(taskHistory.tasks.BackgroundCheck.endTime) ? 'bg-green-gradient' : 'bg-red-gradient' ">
                        {{taskHistory.tasks.BackgroundCheck.createTime}}
                    </span>
                </li>
                <li ng-if="taskHistory.tasks.BackgroundCheck.endTime">
                    <i class="fa fa-suitcase bg-blue-gradient text-white"></i>
                    <div class="timeline-item">
                        <span class="time">{{taskHistory.tasks.BackgroundCheck.description}}</span>
                        <h3 class="timeline-header"><b>{{taskHistory.tasks.BackgroundCheck.nextTask}}</b></h3>
                        <div class="timeline-body">
                        	<div class="row">
		                        <div class="col-md-2 col-sd-12">
			                        <div class="timeline-body text-right">
						            	<b>Comments :</b>
						            </div>
					            </div>
					            <div class="col-md-10 col-sd-12">
			                        <div class="timeline-body">
						            	{{taskHistory.tasks.BackgroundCheck.investigation.comments}}
						            </div>
					            </div>
				            </div>
							<div class="row">
		                        <div class="col-md-2 col-sd-12">
			                        <div class="timeline-body text-right">
						            	<b>Status :</b>
						            </div>
					            </div>
					            <div class="col-md-10 col-sd-12">
			                        <div class="timeline-body">
						            	{{taskHistory.tasks.BackgroundCheck.investigation.status}}
						            </div>
					            </div>
				            </div>
				            <div class="row" ng-repeat="doc in taskHistory.tasks.BackgroundCheck.documents">
		                        <div class="col-md-2 col-sd-12">
			                        <div class="timeline-body text-right">
						            	<b>Document Category :</b>
						            </div>
					            </div>
					            <div class="col-md-2 col-sd-12">
			                        <div class="timeline-body">
						            	{{doc.category}}
						            </div>
					            </div>
					            <div class="col-md-2 col-sd-12">
			                        <div class="timeline-body text-right">
						            	<b>Document :</b>
						            </div>
					            </div>
					            <div class="col-md-6 col-sd-12">
			                        <div class="timeline-body">
						            	<a href="{{doc.docId}}">Download</a>
						            </div>
					            </div>
				            </div>
                        </div>
                        
                    </div>
                </li>
                
                <li class="time-label" ng-repeat-start="mbDoc in taskHistory.tasks.MBDoctorApproval">
                    <span ng-class="(mbDoc.endTime) ? 'bg-green-gradient' : 'bg-red-gradient' ">
                        {{mbDoc.createTime}}
                    </span>
                </li>
                <li ng-repeat-end ng-if="mbDoc.endTime">
                    <i class="fa fa-suitcase bg-blue-gradient text-white"></i>
                    <div class="timeline-item">
                        <span class="time">{{mbDoc.description}}</span>
                        <h3 class="timeline-header"><b>{{mbDoc.nextTask}}</b></h3>
                        <div class="timeline-body">
                            <div class="row">
		                        <div class="col-md-2 col-sd-12">
			                        <div class="timeline-body text-right">
						            	<b>Doctor :</b>
						            </div>
					            </div>
					            <div class="col-md-10 col-sd-12">
			                        <div class="timeline-body">
						            	{{mbDoc.investigation.investigatorName}}
						            </div>
					            </div>
				            </div>
				            <div class="row">
		                        <div class="col-md-2 col-sd-12">
			                        <div class="timeline-body text-right">
						            	<b>Comments :</b>
						            </div>
					            </div>
					            <div class="col-md-10 col-sd-12">
			                        <div class="timeline-body">
						            	{{mbDoc.investigation.comments}}
						            </div>
					            </div>
				            </div>
                        </div>
                        
                    </div>
                </li>
                                
                <li class="time-label" ng-if="taskHistory.tasks.SecretaryApproval">
                    <span ng-class="(taskHistory.tasks.SecretaryApproval.endTime) ? 'bg-green-gradient' : 'bg-red-gradient' ">
                        {{taskHistory.tasks.SecretaryApproval.createTime}}
                    </span>
                </li>
                <li ng-if="taskHistory.tasks.SecretaryApproval">
                    <i class="fa fa-suitcase bg-blue-gradient text-white"></i>
                    <div class="timeline-item">
                        <span class="time">{{taskHistory.tasks.SecretaryApproval.description}}</span>
                        <h3 class="timeline-header"><b>{{taskHistory.tasks.SecretaryApproval.nextTask}}</b></h3>
                        <div class="timeline-body">
	                        <div class="row">
		                        <div class="col-md-2 col-sd-12">
			                        <div class="timeline-body text-right">
						            	<b>Comments :</b>
						            </div>
					            </div>
					            <div class="col-md-10 col-sd-12">
			                        <div class="timeline-body">
						            	{{taskHistory.tasks.SecretaryApproval.comments}}
						            </div>
					            </div>
				            </div>
				            <div class="row">
		                        <div class="col-md-2 col-sd-12">
			                        <div class="timeline-body text-right">
						            	<b>Status :</b>
						            </div>
					            </div>
					            <div class="col-md-10 col-sd-12">
			                        <div class="timeline-body">
						            	{{taskHistory.tasks.SecretaryApproval.status}}
						            </div>
					            </div>
				            </div>
                        </div>
                        
                    </div>
                </li>
                
                <li class="time-label" ng-repeat-start="ecTask in taskHistory.tasks.ECApproval">
                    <span ng-class="(ecTask.endTime) ? 'bg-green-gradient' : 'bg-red-gradient' ">
                        {{ecTask.createTime}}
                    </span>
                </li>
                <li ng-repeat-end ng-if="ecTask.endTime">
                    <i class="fa fa-suitcase bg-blue-gradient text-white"></i>
                    <div class="timeline-item">
                        <span class="time">{{ecTask.description}}</span>
                        <h3 class="timeline-header"><b>{{ecTask.nextTask}}</b></h3>
                        <div class="timeline-body">
	                        <div class="row">
		                        <div class="col-md-2 col-sd-12">
			                        <div class="timeline-body text-right">
						            	<b>EC Member Name :</b>
						            </div>
					            </div>
					            <div class="col-md-10 col-sd-12">
			                        <div class="timeline-body">
						            	{{ecTask.investigation.investigatorName}}
						            </div>
					            </div>
				            </div>
				            <div class="row">
		                        <div class="col-md-2 col-sd-12">
			                        <div class="timeline-body text-right">
						            	<b>Comments :</b>
						            </div>
					            </div>
					            <div class="col-md-10 col-sd-12">
			                        <div class="timeline-body">
						            	{{ecTask.investigation.comments}}
						            </div>
					            </div>
				            </div>
				            <div class="row">
		                        <div class="col-md-2 col-sd-12">
			                        <div class="timeline-body text-right">
						            	<b>Status :</b>
						            </div>
					            </div>
					            <div class="col-md-10 col-sd-12">
			                        <div class="timeline-body">
						            	{{ecTask.investigation.status}}
						            </div>
					            </div>
				            </div>
                        </div>
                        
                    </div>
                </li>
                
                <li class="time-label" ng-if="taskHistory.tasks.PatientIDCardGeneration">
                    <span ng-class="(taskHistory.tasks.PatientIDCardGeneration.endTime) ? 'bg-green-gradient' : 'bg-red-gradient' ">
                        {{taskHistory.tasks.PatientIDCardGeneration.createTime}}
                    </span>
                </li>
                <li ng-if="taskHistory.tasks.PatientIDCardGeneration">
                    <i class="fa fa-suitcase bg-blue-gradient text-white"></i>
                    <div class="timeline-item">
                        <span class="time">{{taskHistory.tasks.PatientIDCardGeneration.description}}</span>
                        <h3 class="timeline-header"><b>{{taskHistory.tasks.PatientIDCardGeneration.nextTask}}</b></h3>
                        <div class="timeline-body">
	                        ID Card generation.
                        </div>
                        
                    </div>
                </li>
                <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                </li>
                <li ng-if = "nextTask">
                    <div class="timeline-item">
                        <div class="timeline-body">
	                        <div class="text-center">
                                <md-button class="md-raised md-primary" style="text-transform:none" type="button" 
                                ng-click="vm.nextAction()">Take Next Action ({{nextTask}}) <i class="fa fa-angle-double-right"></i>
                                </md-button>
                            </div>
                        </div>
                        
                    </div>
                </li>
            </ul>
        </div><!-- /.col -->
    </div>
</section><!-- /.content -->