<div id="hpocMapping-panel-expandable" class="content" style="padding-bottom: 0px;">
    <div class="content-header clearfix" style="padding-left: 0px;">
        <h1 style="display: inline;line-height: normal;">           
        	HPOC Mapping
    	</h1>
        <span ng-click="vm.togglePanel()" style="outline:none; float: right; padding: 5px; color:#fff; background-color: #f90000; border-radius: 8px; cursor:pointer; font-weight: 600;"> 
        	Close Panel
        </span>
        <span ng-click="vm.togglePanel()" style="margin-bottom: 15px !important; display: inline-block; outline:none; float: right; padding: 5px; margin-right: 8px;  color:#fff; background-color: #309c3d; border-radius: 8px; cursor:pointer; font-weight: 600;"> 
        	Map New HPOC
        </span>
    </div>
    {{vm.hpocListValue}}
    <div class="panel panel-info">
        <form data-ng-submit="vm.submitForm();" style="padding: 15px;">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <md-content class="autoScroll" style="overflow:hidden;background:#fff;">
                        <md-input-container class="md-icon-float md-block">
                            <md-select data-ng-model="vm.hospitalListValue" placeholder="Select a Hospital">
                                <md-option ng-value="opt.hospitalId" ng-repeat="opt in vm.hospitalList" ng-required="true">{{ opt.name }}</md-option>
                            </md-select>
                        </md-input-container>
                </div>
                <div class="col-md-4 col-sm-12">
                    <md-input-container class="md-icon-float md-block">
                        <label>HPOC List</label>
                        <md-select ng-model="vm.hpocListValue" data-md-container-class="selectdemoSelectHeader" multiple="">
                            <md-optgroup label="Select HPOC">
                                <md-option ng-value="opt.id" ng-repeat="opt in vm.hpocList">{{ opt.name }}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                    </md-content>
                </div>
            </div>
            <md-button class="md-raised" type="submit">Map HPOC</md-button>
        </form>
    </div>
</div>
<div class="content">
    <div class="content-header clearfix" style="padding-left: 0px;padding-bottom: 15px;padding-top: 0px;">
        <h1 style="display: inline;line-height: normal;">           
        	HPOC Listing
    	</h1>
        <span ng-hide="vm.panelExpanded" ng-click="vm.togglePanel()" style="outline:none; float: right; padding: 5px; color:#fff; background-color: #309c3d; border-radius: 8px; cursor:pointer; font-weight: 600;">
        	Map New HPOC
        </span>
    </div>
    <div class="panel panel-info" ng-show="vm.hospitalHpocList.Hospitals.length > 0">
        <table class="table">
            <th class="col-xs-5">Hospital Name</th>
            <th class="col-xs-5">Hpoc List</th>
            <th class="col-xs-2">Action</th>
            <tr class="" ng-repeat="hos in vm.hospitalHpocList.Hospitals">
                <td class="col-xs-5">{{hos.name}}</td>
                <td class="col-xs-5">
                    <div ng-repeat="hpoc in vm.hospitalHpocList.HospitalMappings[hos.hospitalId]">
                        {{hpoc.name}}
                    </div>
                </td>
                <td>
                    Edit
                </td>
            </tr>

        </table>
    </div>
    <div ng-hide="vm.hospitalHpocList.Hospitals.length > 0"> HPOC list is Empty.</div>
</div>