<div class="content row">
    <div class="col-md-12">
        <div class="panel panel-info" style="min-height:453px;">
            <div class="panel-heading clearfix">
                User List
                <span style="float: right;"> Search User  :  <input type="text" ng-model="searchBox" placeholder="Enter Name"/></span>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <th class="col-xs-3">Name</th>
                    <th class="col-xs-3">Enabled</th>
                    <th class="col-xs-3">Roles</th>
                    <th class="col-xs-3">Action</th>
                    <tr class="" ng-repeat="user in userList | filter:searchBox:user.name">
                        <td class="col-xs-3">{{user.name}}</td>
                        <td class="col-xs-3">{{user.enabled}}</td>
                        <td class="col-xs-3">
                            <role><a>Roles</a></role>
                            <br>
                            <div id={{user.id}} ng-repeat="role in user.roles">
                                {{role.name}}
                            </div>
                        </td>
                        <td class="col-xs-3">
                            Edit
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>