<div class="content-header">
    <h1>
        Patient Hospital Visit - Topup
    </h1>
</div>
<!-- Main content -->
<div class="content patientRegHistory">
    <!-- row -->
    <div class="row">
        <div class="col-md-12">
            
            <div class="panel panel-info panel-body" ng-show="vm.patient">
            	<div class="panel-body" style="padding-bottom: 0px;">
	                <div class="col-md-4 col-xs-12 input-box">
	                    <label>Name
	                        <req>*</req>
	                    </label>
	                    {{ vm.patient.patientBean.name }}
	                </div>
	                <div class="col-md-4 col-xs-12 input-box">
	                    <label>Gender
	                        <req>*</req>
	                    </label>
	                    {{ vm.patient.patientBean.gender }}
	                </div>
	            </div>
	            
	            <div class="panel-body" style="padding-bottom: 0px;">
	                <div class="col-md-4 col-xs-12 input-box">
	                    <label>DOB
	                        <req>*</req>
	                    </label>
	                    {{ vm.patient.patientBean.dob }}
	                </div>
	                <div class="col-md-4 col-xs-12 input-box">
	                    <label>Address
	                        <req>*</req>
	                    </label>
	                    {{ vm.patient.patientBean.address }}
	                </div>
	            </div>
	            
	            <div class="panel-body" style="padding-bottom: 0px;">
	                <div class="col-md-4 col-xs-12 input-box">
	                    <label>Contact No
	                        <req>*</req>
	                    </label>
	                    {{ vm.patient.patientBean.contact }}
	                </div>
	            </div>
	            
	            <div class="col-xs-12">
                   <span class="section-title"><b>Approved Amounts for the patient :</b></span>
                   <div ng-hide="vm.patient.patientApprovals.length > 0" class="empty-text">No amount has been approved for the patient.</div>
                   <table class="table table-bordered" ng-show="vm.patient.patientApprovals.length > 0">
                       <thead>
                           <tr>
                               <th class="col-xs-3">Date</th>
                               <th class="col-xs-2">Approved For</th>
                               <th class="col-xs-3">Amount</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr ng-repeat="item in vm.patient.patientApprovals">
                               <td class="col-xs-3">{{item.date}}</td>
                               <td class="col-xs-2">{{item.approvedForAccountTypeName}}</td>
                               <td class="col-xs-3">{{item.amount}}</td>
                           </tr>
                       </tbody>
                   </table>
               </div>
	            
	           <div class="col-xs-12">
                   <span class="section-title"><b>Payments to the Patient :</b></span>
                   <div ng-hide="vm.patient.invoicesList.length > 0" class="empty-text">No payments have been made to the patient.</div>
                   <table class="table table-bordered" ng-show="vm.patient.invoicesList.length > 0">
                       <thead>
                           <tr>
                               <th class="col-xs-3">Date</th>
                               <th class="col-xs-2">Account</th>
                               <th class="col-xs-2">Partner</th>
                               <th class="col-xs-3">Amount</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr ng-repeat="item in vm.patient.invoicesList">
                               <td class="col-xs-3">{{item.date}}</td>
                               <td class="col-xs-2">{{item.fromAccountTypeId.name}}</td>
                               <td class="col-xs-3">{{item.fromAccountHolderName}}</td>
                               <td class="col-xs-3">{{item.amount}}</td>
                           </tr>
                       </tbody>
                   </table>
               </div>
               
               <div class="col-xs-12" ng-show="vm.patient.task.taskDefinitionKey">
                   <span class="section-title"><b>Hospital Visit Documents :</b></span>
                   <div ng-hide="vm.patient.patientVisit.patientVisitDocumentsList > 0" class="empty-text">No Documents available.</div>
                   <table class="table table-bordered" ng-show="vm.patient.patientVisit.patientVisitDocumentsList > 0">
                       <thead>
                           <tr>
                               <th class="col-xs-3">Document Type</th>
                               <th class="col-xs-2">View</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr ng-repeat="item in vm.patient.patientVisit.patientVisitDocumentsList">
                               <td class="col-xs-3">{{item.docType}}</td>
                               <td class="col-xs-2">{{item.docId}}</td>
                           </tr>
                       </tbody>
                   </table>
               </div>
               
               <div class="col-xs-12 col-md-4" ng-show="vm.patient.task.taskDefinitionKey == 'topupParmaApprovedAmount'">
                    <div class="input-box">
                        <label>Additional Amount for Pharmacy
                            <req>*</req>
                        </label>
                        <input type="text" data-ng-model="vm.pharmacyAmount" maxlength="10" required placeholder="Enter Amount"/>
                    </div>
                    <div class="input-box">
                        <label>Additional Amount for Hospital
                            <req>*</req>
                        </label>
                        <input type="text" data-ng-model="vm.hospitalAmount" maxlength="10" required placeholder="Enter Amount"/>
                    </div>
                    
                    
                </div>
                
                <div class="col-xs-12 col-md-4" ng-show="vm.patient.task.taskDefinitionKey == 'selectPharmacy'">
                    <div class="input-box">
                        <label>Select Pharmacy
                            <req>*</req>
                        </label>
                        <select class="form-control" data-ng-model="vm.pharmacyId" required>
                            <option value="">Select Pharmacy</option>
                            <option value="{{item.pharmacyId}}" ng-repeat="item in vm.pharmacyList">{{item.name}}</option>
                        </select>
                    </div>
                    
                </div> 
	           
            </div>
      	
      		<div class="panel panel-info panel-body" ng-show="vm.patient.task.taskDefinitionKey == 'selectPharmacy'">
      			<div class="col-xs-12">
	      		
	                <button type="submit" class="btn btn-success pull-left" ng-click="vm.submitPharmacy();"  style="margin-right: 8px;">
	                   Submit
	                </button>
	            </div>
      		</div>
      	
      		<div class="panel panel-info panel-body" ng-show="vm.patient.task.taskDefinitionKey == 'topupParmaApprovedAmount'">
      			<div class="col-xs-12">
	      		
	                <button type="submit" class="btn btn-success pull-left" ng-click="vm.doTopup(true);"  style="margin-right: 8px;">
	                    Approve Additional Amount
	                </button>
	                
	                <button type="submit" class="btn btn-success pull-left" ng-click="vm.doTopup(false);" style="margin-right: 8px;">
	                    Reject Additional Amount
	                </button>
	            </div>
      		</div>
      		
        </div>
    </div>
</div>