<script type="text/javascript">
    // function to validate contact number
    function validatephone(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
<div class="searchPatient" id="searchPatient">
    <div class="row searchBox">
        <form data-ng-submit="vm.search();" name="vm.searchForm" autocomplete="off">
            <div class="col-md-5 col-xs-12 searchBoxText">
                Search Patient
            </div>
            <div class="col-md-3 col-xs-12">
                <div class="input-box">
                    <label>Search By
                        <req>*</req>
                    </label>
                    <select class="form-control" data-ng-model="vm.formData.searchBy" required style="background: transparent;" ng-change="vm.formData.searchText=undefined">
                        <option value="prn">PRN</option>
                        <option value="pidn">PIDN</option>
                        <option value="name">Patient Name</option>
                        <option value="aadharNo">Aadhar Number</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-xs-12" ng-if="vm.formData.searchBy=='prn' || vm.formData.searchBy=='pidn' || vm.formData.searchBy=='aadharNo'">
                <div class="input-box">
                    <label>
                    	<span ng-switch on="vm.formData.searchBy">
                    		<span ng-switch-when="prn">Enter PRN</span>
                    		<span ng-switch-when="pidn">Enter PIDN</span>
                    		<span ng-switch-when="aadharNo">Enter Aadhar No</span>
                    	</span>
                        <req>*</req>
                    </label>
                    <input type="text" required data-ng-model="vm.formData.searchText" style="background: transparent;" maxlength="12" required onkeypress="return validatephone(event);">
                </div>
            </div>
            <div class="col-md-3 col-xs-12" ng-if="vm.formData.searchBy=='name'">
                <div class="input-box">
                    <label>Enter Patient Name
                        <req>*</req>
                    </label>
                    <input type="text" required data-ng-model="vm.formData.searchText" maxlength="50" style="background: transparent;" required>
                </div>
            </div>
            <div class="col-md-1 col-xs-12 hidden-xs">
                <button class="md-raised" type="submit">Search</button>
            </div>
            <div class="col-md-1 col-xs-12 hidden-md hidden-lg hidden-sm">
                <md-button class="md-raised" type="submit">Search</md-button>
            </div>
        </form>
    </div>
    <div class="searchResult">
        <div class="warningText" ng-hide="vm.patientList || vm.noSearchResult">Your search results will be displayed here.</div>
        <div class="noResultText" ng-show="vm.noSearchResult">Sorry, no items match your query.</div>
        <div class="row" ng-show="vm.patientList">
            <div class="col-xs-12 searchResultIndicator">
                Search completed with <b>"{{vm.patientList.length}}"</b> results
            </div>
            <div class="col-xs-12">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th class="col-xs-1">PRN</th>
                            <th class="col-xs-2">Patient Name</th>
                            <th class="col-xs-2">Contact</th>
                            <th class="col-xs-3">Address</th>
                            <th class="col-xs-2">Next Step</th>
                            <th class="col-xs-2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="patient in vm.patientList">
                            <td class="col-xs-1">{{patient.prn}}</td>
                            <td class="col-xs-2">{{patient.name}}</td>
                            <td class="col-xs-2">{{patient.contact}}</td>
                            <td class="col-xs-3">{{patient.address}}</td>
                            <td class="col-xs-2" ng-class="{'rejected' : (patient.nextTask == null || patient.nextTask == '') && patient.pidn == null}">
                                <span ng-if="!patient.pidn">{{patient.nextTask || "Rejected"}}</span>
                                <span ng-if="patient.pidn"> Registered</span>
                            </td>
                            <td class="col-xs-2"> <a ui-sref="app.patientRegHistory({ prn: patient.prn })"> View History</a>
                                <a ng-hide="{{patient.nextTask == null || patient.nextTask == ''}}" ui-sref="app.patientRegistration({ prn: patient.prn })"> | Edit Patient </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>