<div class="searchPatient" id="searchPatient">
    <div class="row searchBox">
        <form data-ng-submit="vm.search();" name="vm.searchForm">
            <div class="col-md-5 col-xs-12 searchBoxText">
                Search Patient
            </div>
            <div class="col-md-3 col-xs-12">
                <md-input-container class="md-icon-float md-block searchBy">
                    <label>Search By</label>
                    <md-select data-ng-model="vm.formData.searchBy" required>
                        <md-option value="prn">PRN</md-option>
                        <md-option value="name">Name</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="col-md-3 col-xs-12">
                <md-input-container class="md-icon-float md-block">
                    <label>Select text to search</label>
                    <input type="text" required data-ng-model="vm.formData.searchText" ng-disabled="!vm.formData.searchBy" style="background-image: none;border-bottom-color: rgba(0,0,0,0.12);">
                </md-input-container>
            </div>
            <div class="col-md-1 col-xs-12 hidden-xs">
                <i class="fa fa-search" ng-click="vm.search();"></i>
            </div>
            <div class="col-md-1 col-xs-12 hidden-md hidden-lg hidden-sm">
                <md-button class="md-raised" type="submit">Search</md-button>
            </div>
        </form>
    </div>
    <div class="searchResult">
        <div class="warningText" ng-hide="vm.patientList || vm.noSearchResult">Your search results will be displayed here.</div>
        <div class="noResultText" ng-show="vm.noSearchResult">Sorry, no items match your query.</div>
        <div class="row" ng-show="vm.patientList">
            <div class="col-xs-12 searchResultIndicator">
                Search completed with <b>"{{vm.patientList.length}}"</b> results
            </div>
            <div class="col-xs-12">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th class="col-xs-1">PRN</th>
                            <th class="col-xs-2">Patient Name</th>
                            <th class="col-xs-2">Contact</th>
                            <th class="col-xs-3">Address</th>
                            <th class="col-xs-2">Next Step</th>
                            <th class="col-xs-2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="patient in vm.patientList">
                            <td class="col-xs-1">{{patient.prn}}</td>
                            <td class="col-xs-2">{{patient.name}}</td>
                            <td class="col-xs-2">{{patient.contact}}</td>
                            <td class="col-xs-3">{{patient.address}}</td>
                            <td class="col-xs-2">{{patient.nextTask}}</td>
                            <td class="col-xs-2"> <a ui-sref="app.patientRegHistory({ prn: patient.prn })"> View History</a>  | 
                            	 <a>Edit Patient </a> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>