<section class="content-header">
    <h1>           
        Hospitals
        </h1>
    <ol class="breadcrumb">
        <li><a><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Hospitals</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info" ng-show="hospitalList.length > 0">
                <table class="table">
                
                    <th class="col-xs-4">Hospital Name</th>
                    <th class="col-xs-4">Address</th>
                    <th class="col-xs-4">Contact</th>

                    <tr class="" ng-repeat="doc in hospitalList">
                        <td class="col-xs-4" ng-click="vm.editHospital(doc.hospitalId)">{{doc.name}}</td>
                        <td class="col-xs-4">{{doc.address}}</td>
                        <td class="col-xs-4">{{doc.contact}}</td>
                    </tr>
                    
                </table>
            </div>
            <div class="warningText" ng-hide="hospitalList.length > 0"> No Hospitals found</div>
        </div>
    </div>
</section>