<div class="content-header">
    <h1>
        Patient Hospital Visit
        <div class="req-indicator">(All fields marked <req>*</req> are mandatory.)</div>
    </h1>
</div>
<!-- Main content -->
<div class="content patientHVisit">

    <div class="row">
        <div class="col-md-12">
            <form name="vm.hospitalVisitForm" ng-submit="vm.searchUser();" class="clearfix" autocomplete="off">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <div class="col-md-4 col-xs-12 input-box" style="padding: 0;">
                            <label>PIDN
                                <req>*</req>
                            </label>
                            <input type="text" data-ng-model="vm.pidn" required placeholder="Enter PIDN" />
                        </div>
                        <div class="col-md-4 col-xs-12" style="margin-top:26px;">
                            <input type="submit" class="btn btn-success" value="Search">
                        </div>
                    </div>
                </div>
            </form>
            <div class="warningText" ng-show="vm.noSearchResult">Sorry, no items match your query.</div>
        </div>
    </div>

    <div class="row" ng-show="vm.patient && !vm.noSearchResult">
        <div class="col-xs-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <h4 style="margin:0px;">Patient Basic Information</h4>
                    <br>
                    <table class="table table-bordered userInfo" style="margin-bottom: 0px;max-width: 625px;">
                        <tr>
                            <td rowspan="5" class="user_img">
                                <img ng-show="vm.profileSrc" ng-src="{{vm.profileSrc}}" />
                                <i ng-hide="vm.profileSrc" class="fa fa-user" aria-hidden="true" />
                                <div> <b>{{vm.patient.patientBean.name}}</b> </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" colspan="2"><b>PRN : {{vm.patient.patientBean.prn}}</b> <b ng-show="vm.patient.patientBean.pidn"> | PIDN : {{vm.patient.patientBean.pidn}}</b></td>
                        </tr>
                        <tr>
                            <td class="fieldName">Age</td>
                            <td class="fieldValue">{{vm.patient.patientBean.age}}</td>
                        </tr>
                        <tr>
                            <td class="fieldName">Gender</td>
                            <td class="fieldValue">{{vm.patient.patientBean.gender}}</td>
                        </tr>
                        <tr>
                            <td class="fieldName">Contact</td>
                            <td class="fieldValue">{{vm.patient.patientBean.contact}}</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-center"><b>Patient Total Income : {{vm.patient.patientBean.totalIncome | currency:'₹'}}</b></td>
                        </tr>
                        <tr ng-show="vm.patient.patientBean.hospitalCostEstimate && vm.patient.patientBean.medicalCostEstimate">
                            <td colspan="1" class="text-center"><b>Estimated Costs</b></td>
                            <td colspan="3" class="text-center">
                                				<b>
                                            		Hospital : {{vm.patient.patientBean.hospitalCostEstimate | currency:'₹'}} 
                                            		<br>
                                            		Medicine : {{vm.patient.patientBean.medicalCostEstimate | currency:'₹'}} 
                                            	</b>
                            </td>
					 	</tr>
                        <tr>
				            <td  colspan="1"  class="text-center"><b>Balance Amount</b></td>
							<td colspan="3" class="text-center">
								<span ng-class="(vm.balAmount > 5000) ? 'bal-green' : ((vm.balAmount > 2000)? 'bal-orange': 'bal-red')">{{vm.balAmount | currency:'₹'}}</span>
				            </td>
                        </tr>                                    
               </table>	              	                     
      
	            <div style="padding:15px 0px;">
                   <span class="section-title"><b>Approved Amounts to the patient :</b></span>
                                <div ng-hide="vm.patient.patientApprovals.length > 0" class="empty-text">No amount has been approved for the patient.</div>
                                <table class="table table-bordered" ng-show="vm.patient.patientApprovals.length > 0" style="max-width: 625px;">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-2">Approved For</th>
                                            <th class="col-xs-3">Date of Approval</th>
                                            <th class="col-xs-3">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vm.patient.patientApprovals">
                                            <td class="col-xs-2">{{item.approvedForAccountTypeName}}</td>
                                            <td class="col-xs-3">{{item.date | date}}</td>
                                            <td class="col-xs-3">{{item.amount | currency:'₹'}}</td>
                                        </tr>
                                        <tr>
                                        	<td colspan="3" class="text-center"><b>Total amounts approved (<i>till {{vm.toDay}}</i>) : {{vm.approvedTotal | currency:'₹'}}</b></td>
                                        </tr> 
                                    </tbody>
                                </table>
                                <br>
                                <span class="section-title"><b>Payments made to the Patient :</b></span>
                                <div ng-hide="vm.patient.invoicesList.length > 0" class="empty-text">No payments have been made to the patient.</div>
                                <table class="table table-bordered" ng-show="vm.patient.invoicesList.length > 0">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-3">Date</th>
                                            <th class="col-xs-2">Account</th>
                                            <th class="col-xs-2">Partner</th>
                                            <th class="col-xs-3">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in vm.patient.invoicesList">
                                            <td class="col-xs-3">{{item.date}}</td>
                                            <td class="col-xs-2">{{item.fromAccountTypeId.name}}</td>
                                            <td class="col-xs-3">{{item.fromAccountHolderName}}</td>
                                            <td class="col-xs-3">{{item.amount}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                </div>
                <div class="clearfix">
                    <span class="section-title"><b>Documents (Prescriptions) :</b></span>
                    <br>
                    <div class="col-md-4 col-xs-12 input-box" style=" padding-left: 0;">
                        <label>Type
                            <req>*</req>
                        </label>
                        <select class="form-control" data-ng-model="vm.formData.documentTypes" required>
                            <option value="">Select Type</option>
                            <option value="{{item}}" ng-repeat="item in vm.documentTypes">{{item}}</option>
                        </select>
                    </div>

                    <div class="col-md-4 col-xs-12 input-box" style=" padding-left: 0;">
                        <label>File
                            <req>*</req>
                        </label>
                        <input type="file" />
                    </div>
                </div>
                <div class="col-xs-12 text-center">
                    <button class="btn btn-success" ng-click="vm.selectPartners();" style="margin-right: 8px;">
                        Select Partners
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
<!--  <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-info panel-body" ng-show="vm.patient">
                <div class="col-xs-12">
                    <button class="btn btn-success pull-left" ng-click="vm.sendToSecretary();" style="margin-right: 8px;">
                        Send to Secretary for Topup Approval
                    </button>

                    <button class="btn btn-success pull-left" ng-click="vm.selectPartners();" style="margin-right: 8px;">
                        Select Partners
                    </button>
                </div>
            </div>
        </div>
    </div>-->
</div>