<script type="text/javascript">
    // function to validate contact number
    function validatephone(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>
<div class="content-header">
    <h1>Patient Hospital Visit
        <div class="req-indicator">(All fields marked <req>*</req> are mandatory.)</div>
    </h1>
</div>
<!-- Main content -->
<div class="content patientHVisit">

    <div class="row" ng-hide="vm.preLoad">
        <div class="col-md-12">
            <form name="vm.hospitalVisitForm" ng-submit="vm.searchUser();" class="clearfix" autocomplete="off">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <div class="col-md-4 col-xs-12 input-box" style="padding: 0;">
                            <label>PIDN
                                <req>*</req>
                            </label>
                            <input type="text" data-ng-model="vm.pidn" required placeholder="Enter PIDN" onkeypress="return validatephone(event);" />
                        </div>
                        <div class="col-md-4 col-xs-12" style="margin-top:26px;">
                            <input type="submit" class="btn btn-success" value="Search">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="warningText" ng-show="vm.noSearchResult">{{vm.pageMessage}}</div>
    <div class="row" ng-show="vm.patient && !vm.noSearchResult">
        <div class="col-xs-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <h4 style="margin:0px;">Patient Basic Information</h4>
                    <br>
                    <table class="table table-bordered userInfo" style="margin-bottom: 0px;max-width: 690px;">
                        <tr>
                            <td rowspan="5" class="user_img">
                                <img ng-show="vm.profileSrc" ng-src="{{vm.profileSrc}}" />
                                <i ng-hide="vm.profileSrc" class="fa fa-user" aria-hidden="true" />
                                <div style="padding-bottom: 5px;">
                                    <b ng-switch on="vm.patient.patientBean.patientType">
                                    	<span ng-switch-when="inPatient">In-Patient Name : {{vm.patient.patientBean.name}}</span>
                                    	<span ng-switch-when="outPatient">Out-Patient Name : {{vm.patient.patientBean.name}}</span>
                                    	<span ng-switch-default>Patient Name : {{vm.patient.patientBean.name}}</span>
                                    </b>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center" colspan="2"><b>PRN : {{vm.patient.patientBean.prn}}</b> <b ng-show="vm.patient.patientBean.pidn"> | PIDN : {{vm.patient.patientBean.pidn}}</b>
                                <br>
                                <a ui-sref="app.patientRegHistory({prn:vm.patient.patientBean.prn})">View Patient History</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="fieldName">Age</td>
                            <td class="fieldValue">{{vm.patient.patientBean.age}}</td>
                        </tr>
                        <tr>
                            <td class="fieldName">Gender</td>
                            <td class="fieldValue">{{vm.patient.patientBean.gender}}</td>
                        </tr>
                        <tr>
                            <td class="fieldName">Contact</td>
                            <td class="fieldValue">{{vm.patient.patientBean.contact}}</td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-center"><b>Patient Total Income : {{vm.patient.patientBean.totalIncome | currency:'₹'}}</b></td>
                        </tr>
                        <tr>
                            <td colspan="1" class="text-center"><b>Balance Amount</b></td>
                            <td colspan="3" class="text-center">
                                <span ng-class="(vm.balAmount > 5000) ? 'bal-green' : ((vm.balAmount > 2000)? 'bal-orange': 'bal-red')">{{vm.balAmount | currency:'₹'}}</span>
                            </td>
                        </tr>
                    </table>

                    <div style="padding:15px 0px 0px 0px;">
                        <span class="section-title"><b>Approved Amounts to the patient :</b></span>
                        <br>
                        <i>(These are payments credited to patients's account)</i>
                        <br>
                        <table class="table table-bordered text-center" ng-hide="vm.patient.patientApprovals.length > 0" style="max-width: 690px;">
                            <tr>
                                <td>No amount has been approved for the patient.</td>
                            </tr>
                        </table>
                        <table class="table table-bordered" ng-show="vm.patient.patientApprovals.length > 0" style="max-width: 690px;">
                            <thead>
                                <tr>
                                    <th class="col-xs-2">Approved For</th>
                                    <th class="col-xs-3">Date of Approval</th>
                                    <th class="col-xs-3">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.patient.patientApprovals |  orderBy:'item.id':true">
                                    <td class="col-xs-2">{{item.approvedForAccountTypeName}}</td>
                                    <td class="col-xs-3">{{item.date | date}}</td>
                                    <td class="col-xs-3">{{item.amount | currency:'₹'}}</td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="text-center" style="font-size: 16px;"><b>Total amount approved (<i>till {{vm.toDay}}</i>) : {{vm.approvedTotal | currency:'₹'}}</b></td>
                                </tr>
                            </tbody>
                        </table>
                        <span class="section-title"><b>Payments made to the Patient :</b></span>
                        <br>
                        <i>(These are payments debited from patients's account)</i>
                        <br>
                        <table class="table table-bordered text-center" ng-hide="vm.patient.invoicesList.length > 0" style="max-width: 690px;">
                            <tr>
                                <td>No payments have been made to the patient.</td>
                            </tr>
                        </table>
                        <table class="table table-bordered" ng-show="vm.patient.invoicesList.length > 0" style="max-width: 690px;">
                            <thead>
                                <tr>
                                    <th class="col-xs-3">Approved To</th>
                                    <th class="col-xs-2">Date of Approval</th>
                                    <th class="col-xs-2">Partner Type</th>
                                    <th class="col-xs-3">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.patient.invoicesList |  orderBy:'item.id':true">
                                    <td class="col-xs-3">{{item.fromAccountHolderName}}</td>
                                    <td class="col-xs-2">{{item.date | date}}</td>
                                    <td class="col-xs-3">
                                        <div ng-switch on="item.fromAccountTypeId">
                                            <div ng-switch-when="2">Patient</div>
                                            <div ng-switch-when="3">Pharmacy</div>
                                            <div ng-switch-when="4">Lab</div>
                                            <div ng-switch-when="5">Hospital</div>
                                            <div ng-switch-default>Cancure</div>
                                        </div>
                                    </td>
                                    <td class="col-xs-3">{{item.amount | currency:'₹'}}</td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-center" style="font-size: 16px;"><b>Total amount spend (<i>till {{vm.toDay}}</i>) : {{vm.spendTotal | currency:'₹'}}</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- block for hpoc action : start -->
                    <form data-ng-submit="vm.sendToPharma('FALSE');" ng-show="vm.outPatient && !vm.isSecretary">
                        <div class="clearfix">
                            <span class="section-title">
	                        	<b>Documents/Prescriptions to be uploaded</b>
	                        	<i class="fa fa-plus-circle" aria-hidden="true" ng-click="vm.addPatientFile()"></i>
	                        	<i class="fa fa-minus-circle" aria-hidden="true" ng-click="vm.patientFile.pop();" ng-show="vm.patientFile.length > 1"></i>
	                        </span>
                            <br>
                            <div ng-repeat="file in vm.patientFile" class="clearfix">
                                <div class="col-md-4 col-xs-12 input-box" style=" padding-left: 0;">
                                    <label>Type
                                        <req>*</req>
                                    </label>
                                    <select class="form-control" data-ng-model="file.documentTypes" required>
                                        <option value="">Select Type</option>
                                        <option value="{{item}}" ng-repeat="item in vm.documentTypes">{{item}}</option>
                                    </select>
                                </div>

                                <div class="col-md-4 col-xs-12 input-box">
                                    <label>File
                                        <req>*</req>
                                    </label>
                                    <input type="file" fileid="{{file.id}}" onchange="angular.element(this).scope().vm.FilesSelection(this)" required/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <div class="input-box">
                                        <label>Select Pharmacy
                                            <req>*</req>
                                        </label>
                                        <select class="form-control" data-ng-model="vm.formData.pharmacy" required>
                                            <option value="">Select Pharmacy</option>
                                            <option value="{{item.pharmacyId}}" ng-repeat="item in vm.pharmacyList">{{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12" style="margin-top: 36px;">
                                    <md-checkbox data-ng-model="vm.formData.topUpSelect" required>
                                        Topup Required
                                    </md-checkbox>
                                </div>
                            </div>
                            <div class="row" ng-show="vm.formData.topUpSelect">
                                <div class="input-box col-xs-12 col-md-4">
                                    <label>Estimated Top-up Amount :
                                        <req>*</req>
                                    </label>
                                    <div class="input-group">
                                        <div class="input-group-addon">₹</div>
                                        <input onpaste="return false;" type="text" data-ng-model="vm.formData.topupEstimateAmount" maxlength="10" ng-required="vm.formData.topUpSelect" placeholder="Enter Amount" onkeypress="return validatephone(event);" />
                                    </div>
                                </div>
                                <div class="input-box col-xs-12 col-md-4">
                                    <label>Comments :
                                        <req>*</req>
                                    </label>
                                    <textarea data-ng-model="vm.formData.topupComments" ng-required="vm.formData.topUpSelect" rows="1" maxlength="200" placeholder="Enter comments for top-up request"> </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 text-center">
                            <button type="submit" class="btn btn-success" ng-hide="vm.formSubmitted">
                                Send
                            </button>
                            <span style="color: #3ed01e;font-weight:bold;" ng-show="vm.formSubmitted">{{vm.pageMessage}}</span>
                        </div>
                    </form>
                    <!-- block for hpoc action : end -->

                    <!-- block for secretary action : start -->
                    <form ng-show="vm.isSecretary" data-ng-submit="vm.doTopup(true);">
                        <b> Prescriptions to the patient</b>
                        <br>
                        <i>(These are documents uploaded during patient's hospital visit)</i>
                        <bR>
                        <table class="table table-bordered" ng-show="vm.patientVisitDocuments.length > 0" style="max-width: 690px;">
                            <thead>
                                <tr>
                                    <th class="col-xs-3">Document Type</th>
                                    <th class="col-xs-2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.patientVisitDocuments">
                                    <td class="col-xs-3">{{item.docType}}</td>
                                    <td class="col-xs-2"><a href="/files/patientvisit/{{item.docId}}">View</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <b> Top-up Details</b>
                        <br>
                        <i>(These are comments entered when top-up request is been placed.)</i>
                        <bR>
                        <table class="table table-bordered" ng-show="vm.patientVisitDocuments.length > 0" style="max-width: 690px;">
                            <thead>
                                <tr>
                                    <th class="col-xs-3">Requested Top-up Amount</th>
                                    <th class="col-xs-2">Comments</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.patientVisitDocuments">
                                    <td class="col-xs-3">{{vm.patient.topupEstimateAmount | currency:'₹'}}</td>
                                    <td class="col-xs-2">{{vm.patient.topupComments}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="input-box col-xs-12 col-md-4" style="padding-left: 0;" ng-show="vm.outPatient">
                            <label>Additional Amount for Pharmacy
                                <req>*</req>
                            </label>
                            <div class="input-group">
                                <div class="input-group-addon">₹</div>
                                <input type="text" data-ng-model="vm.pharmacyAmount" maxlength="10" ng-required="vm.outPatient" placeholder="Enter Pharmacy Amount" onkeypress="return validatephone(event);" />
                            </div>
                        </div>
                        <div class="input-box col-xs-12 col-md-4" style="padding-left: 0;" ng-show="vm.inPatient">
                            <label>Additional Amount for Hospital
                                <req>*</req>
                            </label>
                            <div class="input-group">
                                <div class="input-group-addon">₹</div>
                                <input type="text" data-ng-model="vm.hospitalAmount" maxlength="10" ng-required="vm.inPatient" placeholder="Enter Hospital Amount" onkeypress="return validatephone(event);" />
                            </div>
                        </div>
                        <div class="col-xs-12" style="color: #ff0000;padding: 0px 0px 15px 0px; font-weight: bold;" ng-show="vm.balErr">
                            Amount exceeds requested top-up amount ({{vm.patient.topupEstimateAmount | currency:'₹'}}).
                        </div>
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-success" style="margin-right: 8px;" ng-hide="vm.formSubmitted">
                                Approve Request
                            </button>
                            <input type="clear" class="btn btn-warning" ng-click="vm.doTopup(false)" value="Reject Request" readonly ng-hide="vm.formSubmitted">
                            <div class="text-center">
                                <span style="color: #3ed01e;font-weight:bold;" ng-show="vm.formSubmitted">{{vm.pageMessage}}</span>
                            </div>
                        </div>
                    </form>
                    <!-- block for secretary action : end -->

                    <!-- hospital bill details : start -->
                    <form class="row" data-ng-submit="vm.hospitalBill();" ng-show="vm.inPatient && !vm.isSecretary">
                        <div class="col-xs-12">
                            <b>Upload Bill Details </b>
                            <i class="fa fa-plus-circle" aria-hidden="true" ng-click="vm.bill.push({'id':vm.bill.length})"></i>
                            <i class="fa fa-minus-circle" aria-hidden="true" ng-click="vm.bill.pop(); vm.calcBillTotal();" ng-show="vm.bill.length > 1"></i>
                        </div>
                        <div ng-repeat="bill in vm.bill">
                            <div class="input-box col-xs-12 col-md-4">
                                <label>Bill number :
                                    <req>*</req>
                                </label>
                                <input onpaste="return false;" type="text" data-ng-model="bill.partnerBillNo" maxlength="10" required placeholder="Enter Bill No" onkeypress="return validatephone(event);" />
                            </div>
                            <div class="input-box col-xs-12 col-md-4">
                                <label>Bill amount :
                                    <req>*</req>
                                </label>
                                <div class="input-group">
                                    <div class="input-group-addon">₹</div>
                                    <input onpaste="return false;" type="text" ng-change="vm.calcBillTotal();" data-ng-model="bill.partnerBillAmount" maxlength="10" required placeholder="Enter Bill Amount" onkeypress="return validatephone(event);" />
                                </div>
                            </div>
                            <div class="input-box col-xs-12 col-md-4">
                                <label>Bill File:
                                    <req>*</req>
                                </label>
                                <input type="file" fileid="{{bill.id}}" onchange="angular.element(this).scope().vm.billSelection(this)" required/>
                            </div>
                        </div>

                        <div class="col-xs-12" style="padding-bottom: 15px;font-size: 16px;font-weight: bold;">
                            Bill Total : {{vm.billTotal || 0 | currency:'₹'}}
                        </div>

                        <div class="input-box col-xs-12 col-md-4">
                            <label>Cancure Amount Redeemed :
                                <req>*</req>
                            </label>
                            <div class="input-group">
                                <div class="input-group-addon">₹</div>
                                <input ng-disabled="!vm.bill[0].partnerBillAmount" onpaste="return false;" id="cancureRdAmt" type="text" data-ng-model="vm.formData.amount" maxlength="10" required placeholder="Enter Amount" onkeypress="return validatephone(event);" />
                            </div>
                        </div>

                        <div class="col-md-4 col-xs-12" style="margin-top: 36px;">
                            <md-checkbox data-ng-model="vm.formData.topUpSelect" required>
                                Topup Required
                            </md-checkbox>
                        </div>

                        <div class="col-xs-12" ng-show="vm.formData.topUpSelect">
                            <div class="input-box col-xs-12 col-md-4" style="padding-left: 0px;">
                                <label>Estimated TopUp Amount :
                                    <req>*</req>
                                </label>
                                <div class="input-group">
                                    <div class="input-group-addon">₹</div>
                                    <input onpaste="return false;" type="text" data-ng-model="vm.formData.topupEstimateAmount" maxlength="10" ng-required="vm.formData.topUpSelect" placeholder="Enter Amount" onkeypress="return validatephone(event);" />
                                </div>
                            </div>
                            <div class="input-box col-xs-12 col-md-4">
                                <label>Comments :
                                    <req>*</req>
                                </label>
                                <textarea data-ng-model="vm.formData.topupComments" ng-required="vm.formData.topUpSelect" rows="1" maxlength="200" placeholder="Enter comments for top-up request"> </textarea>
                            </div>
                        </div>

                        <div class="col-xs-12" ng-show="vm.balErr" style="color: #ff0000;">
                            <span ng-hide="vm.billErr"><b>Cancure Amount Redeemed</b> exceeds available balance (<b>{{vm.balAmount | currency:'₹'}}</b>) in patient account.</span>
                            <span ng-show="vm.billErr"><b>Cancure Amount Redeemed</b> exceeds pharmacy bill amount.</span>
                        </div>

                        <div class="text-center  col-xs-12">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                    <!-- hospital bill details : end -->

                </div>
            </div>
        </div>

    </div>
</div>