<div class="content">
    <h4 ng-hide="vm.userCreated">Fill the form to create a new user.</h4>
    <h4 ng-show="vm.userCreated">User created with the following details.</h4>
    <div ng-hide="vm.userCreated" class="panel panel-info row" style="margin: 0px;">
        <form ng-submit="vm.createUser();" name="vm.registerForm">
            <div class="panel-body" style="padding-bottom: 0px;">
                <div class="col-md-4 col-xs-12 input-box">
                    <label>Name</label>
                    <input type="text" data-ng-model="vm.formData.name" required placeholder="Enter name" />
                </div>
                <div class="col-md-4 col-xs-12 input-box">
                    <label>User ID</label>
                    <input type="text" data-ng-model="vm.formData.login" required placeholder="Enter user id" />
                </div>
                <div class="col-md-4 col-xs-12 input-box">
                    <label>E-mail</label>
                    <input type="email" data-ng-model="vm.formData.email" required placeholder="Enter email address" />
                </div>
            </div>
            <div class="col-xs-12" style="padding: 0px 28px;">
            	<div>Please select atleast one role.</div>
                <md-input-container class="md-block" style="margin: 8px 0px;">
                    <div ng-repeat="role in roles" class="col-xs-4" style="padding-left: 0px;">
                        <md-checkbox ng-checked="vm.exists(role.id);" ng-click="vm.roleSelection(role.id, vm.formData.roles)" checklist-value="role.id" style="display:block;margin-bottom: 18px;" ng-required="true">
                            {{role.displayName}}
                        </md-checkbox>
                    </div>
                </md-input-container>
            </div>
            <div class="col-xs-12 text-center" style="padding-bottom: 15px;">
                <button type="submit" class="btn btn-success" style="margin-right: 8px;">
                    Save User
                </button>
                <input type="button" class="btn btn-warning" ng-click="vm.clearForm()" value="Clear Form">                          
            </div>
        </form>
    </div>
</div>

<div ng-show="vm.userCreated" class="panel panel-info" style="padding:15px;">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <table class="table table-bordered">
                <th class="col-xs-4">Name</th>
                <th class="col-xs-4">Login ID</th>
                <th class="col-xs-4">Roles</th>
                <tr>
                    <td class="col-xs-4">{{vm.formData.name}}</td>
                    <td class="col-xs-4">{{vm.formData.login}}</td>
                    <td class="col-xs-4">
                        <div ng-repeat="role in roles">
                            <div ng-repeat="selectedRole in vm.formData.roles">
                                <span ng-if="role.id == selectedRole.id"> {{role.displayName}} </span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-xs-12 text-center">
            <md-button class="md-raised" ng-click="vm.createNwUsrBtn();">Create another user</md-button>
        </div>
    </div>
</div>
</div>