<div class="content" style="padding-top:0px;">
    <h4 ng-hide="vm.userCreated">Fill the form to create a new user.</h4>
    <h4 ng-show="vm.userCreated">User created with the following details.</h4>
    <div ng-hide="vm.userCreated" class="panel panel-info">
        <div class="panel-body">
            <form ng-submit="vm.createUser();" name="vm.registerForm">
                <div class="col-md-7 col-xs-12">
                    <md-input-container class="md-icon-float md-block">
                        <label>Name</label>
                        <md-icon class="fa fa-user"></md-icon>
                        <input type="text" data-ng-model="vm.formData.name" ng-required="true" />
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <label>User Id</label>
                        <md-icon class="fa fa-user"></md-icon>
                        <input type="text" data-ng-model="vm.formData.login" ng-required="true" />
                    </md-input-container>

					<md-input-container class="md-icon-float md-block">
                        <label>Email</label>
                        <md-icon class="fa fa-envelope"></md-icon>
                        <input type="email" data-ng-model="vm.formData.email" ng-required="true" ng-maxlength="100"/>
                    </md-input-container>
                    
                    <md-input-container class="md-icon-float md-block">
                    	<label ng-if="!vm.formData.id">Password</label>
                    	<label ng-if="vm.formData.id">Password (Leave blank if you do not want to change password)</label>
                        <md-icon class="fa fa-unlock-alt"></md-icon>
                        <input aria-label="password" type="password" data-ng-model="vm.formData.password" />
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block">
                        <label ng-if="!vm.formData.id">Password</label>
                    	<label ng-if="vm.formData.id">Password (Leave blank if you do not want to change password)</label>
                        <md-icon class="fa fa-unlock-alt"></md-icon>
                        <input aria-label="retypepassword" type="password" data-ng-model="vm.formData.retypepassword"/>
                    </md-input-container>
                </div>
                <div class="col-md-5 col-xs-12">
                    <md-input-container class=" md-block">
                        <div ng-repeat="role in roles">
                            <md-checkbox ng-checked="vm.exists(role.id);" ng-click="vm.roleSelection(role.id, vm.formData.roles)" checklist-value="role.id" style="display:block;margin-bottom: 18px;" ng-required="true">
                                {{role.displayName}}
                            </md-checkbox>
                        </div>
                    </md-input-container>
                </div>
                <div class="col-xs-12 text-center">
                    <md-button class="md-raised md-primary" type="submit">Save User </md-button>
                    <md-button class="md-raised md-warn" type="reset">Clear</md-button>
                </div>
            </form>
        </div>
    </div>
    <div ng-show="vm.userCreated" class="panel panel-info" style="padding:15px;">
        <div class="row">
            <div class="col-xs-offset-3 col-xs-6">
                <table class="table table-bordered">
                    <th class="col-xs-4">Name</th>
                    <th class="col-xs-4">Login ID</th>
                    <th class="col-xs-4">Roles</th>
                    <tr>
                        <td class="col-xs-4">{{vm.formData.name}}</td>
                        <td class="col-xs-4">{{vm.formData.login}}</td>
                        <td class="col-xs-4">
                            <div ng-repeat="role in roles">
                                <div ng-repeat="selectedRole in vm.formData.roles">
                                    <span ng-if="role.id == selectedRole.id"> {{role.displayName}} </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 text-center">
                <md-button class="md-raised" ng-click="vm.createNwUsrBtn();">Create another user</md-button>
            </div>
        </div>
    </div>
</div>