<script type="text/javascript">
    // function to validate contact number
    function validatephone(evt) {
    	evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
    
</script>
<div class="content">
    <h4 ng-hide="vm.userCreated">
    	Fill the form to create a new user. 
    	<div class="req-indicator">(All fields marked <req>*</req> are mandatory.)</div>
    </h4>

    <h4 ng-show="vm.userCreated">
    	<span ng-show="vm.editMode">User created with the following details.</span>
    	<span>User created with the following details.</span>
    </h4>
    <div ng-hide="vm.userCreated" class="panel panel-info row" style="margin: 0px;">
        <form ng-submit="vm.createUser();" name="vm.registerForm" autocomplete="off">
            <div class="panel-body" style="padding-bottom: 0px;">
                <div class="col-md-4 col-xs-12 input-box">
                    <label>Name
                        <req>*</req>
                    </label>
                    <input type="text" data-ng-model="vm.formData.name" required placeholder="Enter name" />
                </div>
                <div class="col-md-4 col-xs-12 input-box">
                    <label>Login ID
                        <req>*</req>
                    </label>
                    <input type="text" data-ng-model="vm.formData.login" required placeholder="Enter user id" ng-disabled="vm.editMode" />
                </div>
                <div class="col-md-4 col-xs-12 input-box">
                    <label>E-mail
                        <req>*</req>
                    </label>
                    <input type="email" data-ng-model="vm.formData.email" required placeholder="Enter email address" />
                </div>
            </div>
            <div class="col-xs-12" style="padding: 0px 28px; margin-bottom: 15px;">
                <fieldset class="appFieldset">
                    <legend>Please select atleast one role.</legend>
                    <md-input-container class="md-block" style="margin: 8px 0px;">
                        <div ng-repeat="role in roles" class="col-xs-4" style="padding-left: 0px;">
                            <md-checkbox ng-checked="vm.exists(role.id);" ng-click="vm.roleSelection(role.id, vm.formData.roles)" checklist-value="role.id" style="display:block;margin-bottom: 18px;" >
                                {{role.displayName}}
                            </md-checkbox>
                        </div>
                    </md-input-container>
                </fieldset>
            </div>
            <div class="panel-body" ng-show="vm.doctorDetails">
                <fieldset class="appFieldset" style="margin: 0px 15px;">
                    <legend>
                        Doctor Details 
                    </legend>
                    <div class="col-md-4 col-xs-12 input-box">
                        <label>Specialization
                            <req>*</req>
                        </label>
                        <input type="text" data-ng-model="vm.doctor.specification" ng-required="vm.doctorDetails"  placeholder="Enter doctor specialization" />
                    </div>
                    <div class="col-md-4 col-xs-12 input-box">
                        <label>Address
                            <req>*</req>
                        </label>
                        <input type="text" data-ng-model="vm.doctor.address" ng-required="vm.doctorDetails"  placeholder="Enter address" />
                    </div>
                    <div class="col-md-4 col-xs-12 input-box">
                        <label>Contact
                            <req>*</req>
                        </label>
                        <input type="text" data-ng-model="vm.doctor.contact" ng-required="vm.doctorDetails" onkeypress="return validatephone(event);" placeholder="Enter contact number" />
                    </div>
                    <div class="col-md-4 col-xs-12 input-box">
                        <label>Hospital 
                            <req>*</req>
                        </label>
                        <select class="form-control" data-ng-model="vm.doctor.hospital.hospitalId" ng-required="vm.doctorDetails" >
                            <option value=""> Select a Hospital </option>
                            <option value="{{hospital.hospitalId}}" ng-repeat="hospital in vm.hospitalList" ng-selected="vm.doctor.hospital.hospitalId==hospital.hospitalId">{{hospital.name}}</option>
                        </select>
                    </div>
                </fieldset>
            </div>
            <div class="panel-body" ng-show="vm.hpocDetails">
                <fieldset class="appFieldset" style="margin: 0px 15px;">
                    <legend>
                        HPOC Details 
                    </legend>                    
                    <div class="col-md-4 col-xs-12 input-box">
                        <label>Hospital
                            <req>*</req>
                        </label>
                        <select class="form-control" data-ng-model="vm.hpoc.hospitalId" ng-required="vm.hpocDetails" >
                            <option value=""> Select a Hospital </option>
                            <option value="{{hospital.hospitalId}}" ng-repeat="hospital in vm.hospitalList" ng-selected="vm.hpoc.hospitalId==hospital.hospitalId">{{hospital.name}}</option>
                        </select>
                    </div>
                </fieldset>
            </div>
            <div class="col-xs-12 text-center" style="padding-bottom: 15px;">
                <button type="submit" class="btn btn-success" style="margin-right: 8px;">
                    Save User
                </button>
                <input type="button" class="btn btn-warning" ng-click="vm.varInit(1);" value="Clear Form" ng-hide="vm.editMode">
                <input type="button" class="btn btn-warning" ng-click="vm.resetPassword();" value="Reset Password" ng-show="vm.editMode">
            </div>
        </form>
    </div>
</div>

<div ng-show="vm.userCreated" class="panel panel-info" style="padding:15px;">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <table class="table table-bordered">
                <th class="col-xs-4">Name</th>
                <th class="col-xs-4">Login ID</th>
                <th class="col-xs-4">Roles</th>
                <tr>
                    <td class="col-xs-4">{{vm.formData.name}}</td>
                    <td class="col-xs-4">{{vm.formData.login}}</td>
                    <td class="col-xs-4">
                        <div ng-repeat="role in roles">
                            <div ng-repeat="selectedRole in vm.formData.roles">
                                <span ng-if="role.id == selectedRole.id"> {{role.displayName}} </span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-xs-12 text-center">
            <md-button class="md-raised" ng-click="vm.varInit();">Create another user</md-button>
        </div>
    </div>
</div>
</div>