<!--
Author: Ranjithprabhu K
Page Description: Dashboard Home page
Date: 05 Jan 2016
-->

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
           My Queue
        </h1>
        <ol class="breadcrumb">
            <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">My Queue</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                    </div><!-- /.box-header -->
                    
                    <div class="box-footer">
	                    <div class="row">
	                    <table class="table table-hover">
	                    	<thead>
	                    		<tr>
	                    			<th>PRN</th>
	                    			<th>Patient Name</th>
	                    			<th>Next Task</th>
	                    			<th>Start Time</th>	
	                    		</tr>
	                    	</thead>
	                    	<tbody>
	                    		<tr ng-repeat="task in tasks">
	                    			<td>{{task.prn}}</td>
	                    			<td>{{task.patientName}}</td>
	                    			<td ng-click="changeView(task.prn)">{{task.nextTask}}</td>
	                    			<td>{{task.createTime}}</td>
	                    		</tr>
	                    	</tbody>
	                    </table>
	                    </div><!-- /.row -->

                    </div><!-- /.box-footer -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section><!-- /.content -->
