<section class="content-header">
    <ol class="breadcrumb">
        <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Contact Me</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-info" style="min-height:453px;">
                <div class="panel-heading">
                    Add a new user
                </div>
                <div class="panel-body">
                    <form data-ng-submit="vm.submitForm();" name="vm.registerForm">
                        <md-content class="autoScroll">
                            <md-input-container class="md-icon-float md-block">
                                <label>Name</label>
                                <md-icon class="fa fa-user"></md-icon>
                                <input type="text" required name="name" data-ng-model="vm.formData.name">
                            </md-input-container>

                            <md-input-container class="md-icon-float md-block">
                                <label>User Id</label>
                                <md-icon class="fa fa-user"></md-icon>
                                <input type="text" required name="phone" data-ng-model="vm.formData.login">
                            </md-input-container>

                            <md-input-container class="md-icon-float md-block">
                                <label>Password</label>
                                <md-icon class="fa fa-user"></md-icon>
                                <input type="password" required name="phone" data-ng-model="vm.formData.password">
                            </md-input-container>

                            <md-input-container class="md-icon-float md-block">
                                <label>Re type Password</label>
                                <md-icon class="fa fa-envelope"></md-icon>
                                <input type="password" required name="email" data-ng-model="vm.formData.retypepassword">
                            </md-input-container>
                            <md-input-container class=" md-block">
                                <md-checkbox ng-click="vm.roleSelection(role.id)" checklist-value="role.id" ng-repeat="role in roles">
                                    {{role.name}}
                                </md-checkbox>
                            </md-input-container>
                            <div class="text-center">
                                <md-button class="md-raised md-primary" type="button" ng-click="vm.onSend()">Send <i class="fa fa-angle-double-right"></i></md-button>
                                <md-button class="md-raised md-warn" type="reset">Clear <i class="fa fa-trash-o"></i></md-button>
                            </div>
                        </md-content>
                    </form>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- /.content -->