<section class="content">
    <div class="panel panel-info">
        <div class="panel-heading">
            Add a new user
        </div>
        <div class="panel-body">
            <form ng-submit="vm.onSend();" name="vm.registerForm">
                <div class="col-md-7 col-xs-12">
                    <md-input-container class="md-icon-float md-block">
                        <label>Name</label>
                        <md-icon class="fa fa-user"></md-icon>
                        <input type="text" data-ng-model="vm.formData.name" ng-required="true" />
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <label>User Id</label>
                        <md-icon class="fa fa-user"></md-icon>
                        <input type="text" data-ng-model="vm.formData.login" ng-required="true" />
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block">
                        <label>Password</label>
                        <md-icon class="fa fa-user"></md-icon>
                        <input type="password" data-ng-model="vm.formData.password" ng-required="true" />
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block">
                        <label>Re type Password</label>
                        <md-icon class="fa fa-envelope"></md-icon>
                        <input type="password" data-ng-model="vm.formData.retypepassword" ng-required="true" />
                    </md-input-container>
                </div>
                <div class="col-md-5 col-xs-12">
                    <md-input-container class=" md-block">
                        <div ng-repeat="role in roles">
                            <md-checkbox ng-checked="vm.exists(role.id);" ng-click="vm.roleSelection(role.id, vm.formData.roles)" checklist-value="role.id" style="display:block;margin-bottom: 18px;" ng-required="true">
                                {{role.name}}
                            </md-checkbox>
                        </div>
                    </md-input-container>
                </div>
                <div class="col-xs-12 text-center">
                    <md-button class="md-raised md-primary" type="submit">Create User </md-button>
                    <md-button class="md-raised md-warn" type="reset">Clear</md-button>
                </div>
            </form>
        </div>
    </div>

</section>