<script type="text/javascript">
    // function to validate contact number
    function validatephone(evt) {
    	evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
    
</script>

<div class="content" style="padding-top:0px;">
	
	<div class="panel-body" ng-show="!vm.campSelected">
       <div class="row">
	       <form ng-submit="vm.searchCamp();" autocomplete="off">
	       		<div class="col-md-4 col-xs-12 input-box">
	               <label>Camp Month/Year <req>*</req></label>
	               <input type="month" ng-model = "vm.campSearchForm.searchMonthYear" required>
	           	</div>
	           	<div class="col-md-4 col-xs-12">
	           		<label>&nbsp;</label>
	                <button type="submit" class="btn btn-success" style="margin-top: 25px;">
	                    Search Camp
	                </button>
	            </div>
	       </form>
       </div>
       
       <div ng-show="vm.campSearched" class="panel panel-info" style="padding:15px; width:100%">
       		<div class="row"><h3>Camps</h3></div>
	        <div class="row">
	            <div>
	                <table class="table table-bordered" style="margin: 5px; width:90%">
	                    <th>Camp Name</th>
	                    <th>Camp Date</th>
	                    <th>Place</th>
	                    <th>POC Name</th>
	                    <th>Register</th>
	                    <tr ng-repeat="camp in vm.camps">
	                        <td>{{camp.campName}}</td>
	                        <td>{{camp.campDate | date : 'dd-MMM-yyyy'}}</td>
	                        <td>{{camp.campPlace}}</td>
	                        <td>{{camp.pocName}}</td>
	                        <td ng-click="vm.selectCamp(camp.campId)"><a>Register People</a></td>
	                    </tr>
	                </table>
	            </div>
	        </div>
	    </div>
       
    </div>
       
</div>

<div class="content" ng-show="vm.campSelected" style="padding-top:0px;">
    <h4 ng-hide="vm.campCreated">
    	Fill the form to register a patient in the camp "{{ vm.selectedCamp.campName }}".
    	<div class="req-indicator">(All fields marked <req>*</req> are mandatory.)</div>
    </h4>
    <h4 ng-show="vm.campCreated">Patient created with the following details.</h4>
    <div ng-hide="vm.patientCreated" class="panel panel-info row">
        <div class="panel-body">
            <form ng-submit="vm.createPatient();" name="vm.formData" autocomplete="off">
                <div class="col-md-4 col-xs-12 input-box">
                    <label>Camp Name <req>*</req></label>
                    {{ vm.selectedCamp.campName }}
                </div>
                <div class="col-md-4 col-xs-12 input-box">
                    <label>Patient Name <req>*</req></label>
                    <input type="text" data-ng-model="vm.formData.name" required placeholder="Enter name" />
                </div>
                <div class="col-md-4 col-xs-12 input-box">
                    <label>Gender <req>*</req></label>
                    <select class="form-control" data-ng-model="vm.formData.gender" required>
                        <option value="">Select Gender</option>
                        <option value="{{item.value}}" ng-repeat="item in vm.allgenders">{{item.value}}</option>
                    </select>
                </div>
                <div class="col-md-4 col-xs-12 input-box">
                    <label>Age<req>*</req></label>
                    <input type="text" data-ng-model="vm.formData.age" maxlength="3" required placeholder="Enter Age" onkeypress="return validatephone(event);" />
                </div>
                
                <div class="col-md-4 col-xs-12 input-box">
                    <label>Phone Number<req>*</req></label>
                    <input type="text" data-ng-model="vm.formData.phone" maxlength="12" required onkeypress="return validatephone(event);" placeholder="Enter Phone Number" />
                </div>
                
                <div class="col-md-12 col-xs-12 input-box">
                    <fieldset class="appFieldset">
	                    <legend>Please select the tests taken -</legend>
	                    <md-input-container class="md-block" style="margin: 8px 0px;">
	                        <div ng-repeat="test in vm.alllabtests" class="col-xs-4" style="padding-left: 0px;">
	                            <md-checkbox checklist-value="test.value" ng-model="vm.labTests[test.value]" style="display:block;margin-bottom: 18px;" >
	                                {{test.value}}
	                            </md-checkbox>
	                        </div>
	                    </md-input-container>
	                </fieldset>
                    
                </div>
                
                <div class="col-xs-12 text-center" style="padding: 0px 15px;">
                    <button type="submit" class="btn btn-success" style="margin-right: 8px;">
                        Save Patient
                    </button>
                    <input type="clear" class="btn btn-warning" ng-click="vm.formData = {};" value="Clear Form">
                    <input type="clear" class="btn btn-warning" ng-click="vm.resetCamp();" value="Search Camps">
                </div>
            </form>
        </div>
    </div>
    
    <div ng-show="vm.patientCreated" class="panel panel-info" style="padding:15px;">
        <div class="row">
       		<div class="row" style="text-align:center; color:red">
            	<b>Patient has been created registered in the camp "{{ vm.selectedCamp.campName }}".</b>
        	</div>
            <div class="col-xs-12 text-center" style="padding-top: 15px;">
                <button class="btn btn-success" ng-click="vm.formData={};vm.patientCreated=false;vm.labTests={};">
                    Register another patient in "{{ vm.selectedCamp.campName }}"
                </button>
                <button class="btn btn-success" ng-click="vm.resetCamp();">
                    Search camps
                </button>
            </div>
        </div>
    </div>
</div>