<div class="content row">
    <div class="col-md-12" style="padding: 0px;">
        <div class="panel panel-info">
            <div class="panel-heading clearfix">
                User List
                <span style="float: right;"> Search User  :  <input type="text" ng-model="searchBox" placeholder="Enter Name"/></span>
            </div>
            <div class="panel-body">
                <table class="table table-bordered" style="margin-bottom: 0px;">
                    <th class="col-xs-2">Name</th>
                    <th class="col-xs-2">Log-in ID</th>
                    <th class="col-xs-3">Email</th>
                    <th class="col-xs-3">Phone</th>
                    <th class="col-xs-3">Assigned Roles</th>
                    <th class="col-xs-1">Enabled</th>                 
                    <th class="col-xs-1">Action</th>
                    <tr class="" ng-repeat="user in userList | filter:searchBox:user.name | orderBy : 'id'">
                        <td class="col-xs-2">{{user.name}}</td>
                        <td class="col-xs-2">{{user.login}}</td>
                        <td class="col-xs-3">{{user.email}}</td>   
                        <td class="col-xs-3">{{user.phone}}</td>                     
                        <td class="col-xs-3">
                            <role><a>View Roles</a></role>
                            <br>
                            <div id={{user.id}} ng-repeat="role in user.roles">
                                {{role.displayName}}
                            </div>
                        </td>
                        <td class="col-xs-1">{{user.enabled}}</td>
                        <td class="col-xs-1" ng-click="vm.editUser(user)">
                            <span style="color: #3c8dbc;cursor: pointer;">Edit</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
