<div class="content-header">
    <h1>           
        Cancure Process Settings
        <div class="req-indicator">(All fields marked <req>*</req> are mandatory.)</div>
    </h1>
</div>
<!-- Main content -->
<div class="content">
    <div class="panel panel-info panel-body" ng-show="settingsList.length > 0">
        <form class="row" name="vm.settList" autocomplete="off">
            <div class="input-box col-md-6 col-sm-8 col-xs-12" ng-repeat="sett in settingsList | orderBy : 'id'">
                <label>{{sett.displayName}}
                    <req style="margin-right:8px;">*</req>
                    <i class="fa fa-pencil" aria-hidden="true" ng-hide="sett.enabled" ng-click="sett.enabled= true;"></i>
                    <i class="fa fa-floppy-o" aria-hidden="true" ng-show="sett.enabled" ng-click="vm.editSettings(sett);" style="color: #008d4c;margin-right:5px;"></i>
                    <i class="fa fa-undo" aria-hidden="true" ng-show="sett.enabled" ng-click="sett.enabled= false;" style="color: #f39c12"></i>
                </label>
                <input type="text" ng-model="sett.value" ng-value="sett.value" required placeholder="Enter {{sett.displayName}}" ng-disabled="!sett.enabled" />

            </div>
        </form>
    </div>
    <div class="warningText" ng-hide="settingsList.length > 0"> No settings found</div>
</div>