.patientRegistrationFamily md-content {
    background-color: transparent;
}
.patientRegistrationFamily .panel-heading {
    font-size: 16px;
}
.patientRegistrationFamily form input[type="file"] {
    outline: none;
    border: none;
}
.patientRegistrationFamily .panel-heading i {
    outline: none;
    font-size: 18px;
    padding-left: 8px;
}
.patientRegistrationFamily .profile-image {
    border: 5px solid #d9edf7;
    height: 240px;
}
.patientRegistrationFamily .profile-image * {
    outline: none;
}
.patientRegistrationFamily .profile-image .title {
    background-color: #d9edf7;
    color: #3a87ad;
    height: 25px;
}
.patientRegistrationFamily .profile-image i {
    float: right;
    padding: 2px 0px;
}
.patientRegistrationFamily .profile-image .fa-times {
    color: #f90000;
    padding: 0px 5px;
    font-size: 18px;
}
.patientRegistrationFamily .profile-image .select-div {
    position: absolute;
    top: 50%;
    transform: translate(-50%, 0%);
    left: 50%;
    font-size: 18px;
    text-align: center;
    line-height: 18px;
    color: #cccccc;
}
.patientRegistrationFamily .profile-image .img-container {
    text-align: center;
    height: 205px;
    padding: 15px;
}
.patientRegistrationFamily .profile-image .img-container img {
    height: 100%;
    max-height: 100%;
    max-width: 100%;
}
.patientRegistrationFamily .panel-heading .fa-minus-square {
    color: #f90000;
}
.patientRegistrationFamily .clearfix {
    padding: 15px 7px;
}
.patientRegistrationFamily .clearfix .autoScroll {
    border: 1px solid #e6e6e6;
    padding: 15px;
    background: #fff;
}
.patientRegistrationFamily .clearfix .repeatingDiv {
    padding: 8px;
}
.diagDetails .clearfix {
    background-color: #fff;
}
.diagDetails .md-errors-spacer {
    min-height: 0px;
}
.diagDetails md-input-container {
    margin: 0px;
    margin-bottom: 12px;
}
.diagDetails textarea {
    border: 1px solid #e6e6e6;
    padding: 5px;
    width: 100%;
    resize: none;
}
.diagDetails fieldset {
    margin-left: 36px;
}
.diagDetails fieldset legend {
    font-size: 16px;
    border: none;
    margin-bottom: 5px;
}
.diagDetails .file-upload {
    margin-left: 36px;
}
.diagDetails .file-upload .title {
    font-size: 16px;
    padding-bottom: 4px;
}
.diagDetails .file-upload .sub-title {
    font-style: italic;
    font-size: 12px;
    padding-bottom: 8px;
}
.diagDetails .file-upload .file-names {
    height: 65px;
    padding: 2px;
    border: 1px solid #e6e6e6;
    overflow-y: scroll;
    overflow-x: hidden;
}
.supportingDocs fieldset {
    border: 1px solid #c0c0c0 !important;
    margin: 0 0 15px 0 !important;
    padding: 0.35em 0.625em 0.75em !important;
}
.supportingDocs fieldset legend {
    border-bottom: none !important;
    margin: 0 0 15px 0 !important;
    text-align: center;
    font-size: 18px;
}
.supportingDocs fieldset md-input-container {
    margin: 0 0 15px 0 !important;
}
.supportingDocs fieldset md-input-container .md-errors-spacer {
    min-height: 0px !important;
}
.supportingOrg .panel-heading i {
    outline: none;
    font-size: 18px;
    padding-left: 8px;
}
.supportingOrg .panel-heading .fa-minus-square {
    color: #f90000;
}
.supportingOrg .repeatingDiv {
    padding: 8px;
}
.supportingOrg .repeatingDiv .autoScroll {
    border: 1px solid #e6e6e6;
    background: #fff;
    padding: 15px;
}
.patientRegDialogBx {
    padding: 15px;
    max-width: 75%;
    min-width: 35%;
}
.patientRegDialogBx button {
    border: 1px solid rgb(63, 81, 181);
}
.patientRegDialogBx .title {
    font-size: 36px;
    text-align: center;
}
.patientRegDialogBx .subtitle {
    font-size: 24px;
    text-align: center;
    line-height: normal;
    padding-bottom: 15px;
}
.patientRegDialogBx .subtitle b {
    font-size: 36px;
}
.patientRegDialogBx table .user_img {
    vertical-align: middle;
    text-align: center;
    max-width: 250px;
}
.patientRegDialogBx table .user_img img {
    width: 100%;
}
.patientRegDialogBx table .fieldName {
    font-weight: bold;
}
.patientRegDialogBx table .user_img i {
    font-size: 10em;
}
.patientRegDialogBx md-dialog-actions i {
    position: absolute;
    left: 15px;
    font-size: 24px;
    color: rgb(63, 81, 181);
    cursor: pointer;
}
.patientRegDialogBx md-dialog-actions i:before {
    outline: none;
}
@media (max-width: 767px) {
    .patientRegDialogBx .title {
        font-size: 24px;
    }
    .patientRegDialogBx .subtitle {
        font-size: 16px;
    }
    .patientRegDialogBx table .user_img i {
        font-size: 5em;
    }
    .patientRegDialogBx .subtitle b {
        font-size: 24px;
    }
}
@media print {
    .patientRegDialogBx .title,
    .patientRegDialogBx button {
        display: none;
    }
}