<script type="text/javascript">
    document.getElementById('dobpicker').max = new Date().toISOString().substring(0, 10);
    // function to validate contact number
    function validatephone(evt) {
    	evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
    
</script>
<div class="patientRegistrationFamily">
    <form data-ng-submit="vm.submitForm();" name="vm.patientRegisterForm" autocomplete="off">
        <div class="content-header clearfix">
            <h1 class="pull-left">
       		Patient Registration
       		<div class="req-indicator">(All fields marked <req>*</req> are mandatory.)</div>
    	</h1>
            <div class="pull-right">
                <button type="submit" class="btn btn-success" style="margin-right: 8px;">
                    Register
                </button>
                <input type="clear" class="btn btn-warning" ng-click="vm.initializeVars();" value="Clear Form" readonly>
            </div>
        </div>
        <!-- Main content -->
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Patient Details
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4 col-sm-12">
                                    <div class="input-box">
                                        <label>Patient Name
                                            <req>*</req>
                                        </label>
                                        <input type="text" data-ng-model="vm.formData.name" maxlength="100" required placeholder="Enter patient name" />
                                    </div>
                                    <div class="input-box">
                                        <label>Gender
                                            <req>*</req>
                                        </label>
                                        <select class="form-control" data-ng-model="vm.formData.gender" required>
                                            <option value="">Select Gender</option>
                                            <option value="{{item.value}}" ng-repeat="item in vm.Gender">{{item.value}}</option>
                                        </select>
                                    </div>
                                    <div class="input-box">
                                        <label>Employment status
                                            <req>*</req>
                                        </label>
                                        <select class="form-control" data-ng-model="vm.formData.employmentStatus" required ng-change="vm.formData.patientIncome = undefined;">
                                            <option value="">Select Employment status</option>
                                            <option value="{{item.value}}" ng-repeat="item in vm.EmploymentStatus">{{item.value}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-12">
                                    <div class="input-box">
                                        <label>Date of Birth
                                            <req>*</req>
                                        </label>
                                        <input id="dobpicker" type="date" data-ng-model="vm.formData.dob" required placeholder="Enter patient dob" onkeydown="return false;"/>
                                    </div>
                                    <div class="input-box">
                                        <label>Blood Group
                                            <req>*</req>
                                        </label>
                                        <select class="form-control" data-ng-model="vm.formData.bloodGroup" required>
                                            <option value="">Select Blood Group</option>
                                            <option value="{{item.value}}" ng-repeat="item in vm.BloodGroups">{{item.value}}</option>
                                        </select>
                                    </div>
                                    <div class="input-box">
                                        <label>Marital Status
                                            <req>*</req>
                                        </label>
                                        <select class="form-control" data-ng-model="vm.formData.maritalStatus" required>
                                            <option value="">Select Marital Status</option>
                                            <option value="{{item.value}}" ng-repeat="item in vm.MaritalStatus">{{item.value}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-12">
                                    <div class="profile-image">
                                        <div class="title">
                                            <span>Profile Image</span>
                                            <i class="fa fa-times" ng-click="vm.removeProfileImg()" ng-show="vm.formData.profilePicSrc && !vm.disableDelPic"></i>
                                            <i class="fa fa-refresh" ng-click="vm.showFileDialog()" ng-show="vm.formData.profilePicSrc"></i>
                                        </div>
                                        <div class="select-div" ng-click="vm.showFileDialog()" ng-hide="vm.formData.profilePicSrc">Click to Select Image</div>
                                        <div class="img-container">
                                            <img ng-src="{{vm.formData.profilePicSrc}}" ng-show="vm.formData.profilePicSrc" />
                                        </div>
                                        <input id="patientProfilePic_reg" type='file' onchange="angular.element(this).scope().vm.profileImageChange(this);" style="display: none;" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-sm-12 input-box">
                                    <label>Contact No.
                                        <req>*</req>
                                    </label>
                                    <input type="text" data-ng-model="vm.formData.contact" maxlength="10" required onkeypress="return validatephone(event);" placeholder="Enter patient number" />
                                </div>
                                <div class="col-md-4 col-sm-12 input-box">
                                    <label>Address for Communication
                                        <req>*</req>
                                    </label>
                                    <input type="text" data-ng-model="vm.formData.address" maxlength="250" required placeholder="Enter patient address" />
                                </div>
                                <div class="col-md-4 col-sm-12 input-box">
                                    <label>Type of Support from Cancure
                                        <req>*</req>
                                    </label>
                                    <select class="form-control" data-ng-model="vm.formData.typeOfSupport" required>
                                        <option value="">Select Type of Support</option>
                                        <option value="{{item.value}}" ng-repeat="item in vm.TypeOfSupportSought">{{item.value}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-sm-12 input-box">
                                    <label>Assets Owned
                                        <req>*</req>
                                    </label>
                                    <input type="text" data-ng-model="vm.formData.assetsOwned" maxlength="150" required placeholder="Enter patient assets" />
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <md-input-container class="md-icon-float md-block">
                                        <md-checkbox data-ng-model="vm.formData.solebreadwinner" style="margin: 14px 0px;" ng-change="vm.formData.patientIncome = undefined;">
                                            Is the patient the sole bread winner of the family
                                        </md-checkbox>
                                    </md-input-container>
                                </div>
                                <div class="col-md-4 col-sm-12 input-box" ng-show="vm.formData.employmentStatus=='Employed' || vm.formData.solebreadwinner">
                                    <label>Patient Income
                                        <req>*</req>
                                    </label>
                                    <input type="text" data-ng-model="vm.formData.patientIncome" maxlength="10" onkeypress="return validatephone(event);" ng-required="vm.formData.employmentStatus=='Employed' || vm.formData.solebreadwinner" placeholder="Enter patient income" />
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-md-4 col-sm-12 input-box">
                                    <label>Estimated Total Income</label>
                                    <input type="text" data-ng-model="vm.formData.totalIncome" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row patientFamily">
                <div class="col-md-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Family Details
                            <i class="fa fa-plus-square" aria-hidden="true" ng-click="vm.formData.patientFamily.push({});"></i>
                            <i class="fa fa-minus-square" aria-hidden="true" ng-click="vm.formData.patientFamily.pop();vm.calcIncome();" ng-hide="vm.formData.patientFamily.length == 0"></i>
                        </div>
                        <div class="clearfix">
                            <div style="padding: 0px 15px 0px 0px;" ng-if="vm.formData.patientFamily.length == 0">No family member added.</div>
                            <div class="col-sm-12 col-md-4 repeatingDiv" ng-repeat="fd in vm.formData.patientFamily">
                                <div class="form-group">
                                    <div class="input-box">
                                        <label>Relation to patient</label>
                                        <select class="form-control" data-ng-model="fd.relation">
                                            <option value="">Select relation</option>
                                            <option value="{{item.value}}" ng-repeat="item in vm.FamilyRelation">{{item.value}}</option>
                                        </select>
                                    </div>
                                    <div class="input-box">
                                        <label>Age</label>
                                        <input type="number" data-ng-model="fd.age" placeholder="Enter bystander age" />
                                    </div>
                                    <div class="input-box">
                                        <label>Employment status</label>
                                        <select class="form-control" data-ng-model="fd.status">
                                            <option value="">Select Employment status</option>
                                            <option value="{{item.value}}" ng-repeat="item in vm.EmploymentStatus">{{item.value}}</option>
                                        </select>
                                    </div>
                                    <div class="input-box">
                                        <label>Monthly Income</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">₹</div>
                                            <input type="text" data-ng-model="fd.income" ng-change="vm.calcIncome()" maxlength="10" placeholder="Enter income" />
                                        </div>
                                    </div>
                                    <div class="input-box">
                                        <label>Other Income</label>
                                        <div class="input-group">
                                            <div class="input-group-addon">₹</div>
                                            <input type="text" data-ng-model="fd.otherIncome" ng-change="vm.calcIncome()" maxlength="10" placeholder="Enter income" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="diagDetails" style="margin: 0 15px;">
                <div class="row">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            Diagnosis Details
                        </div>
                        <div class="clearfix">
                            <div class="col-sm-12 col-md-4 input-box">
                                <label>Hospital Name</label>
                                <input type="text" data-ng-model="vm.formData.hospital" maxlength="100" placeholder="Enter hospital name" />
                            </div>
                            <div class="col-sm-12 col-md-4 input-box">
                                <label>Doctor's Name</label>
                                <input type="text" data-ng-model="vm.formData.doctorName" maxlength="100" placeholder="Enter doctor name" />
                            </div>
                            <div class="col-sm-12 col-md-4 input-box">
                                <label>Diagnosis Details</label>
                                <input type="text" data-ng-model="vm.formData.diagnosis" maxlength="100" placeholder="Enter details" />
                            </div>
                            <div class="input-box col-sm-12 col-md-4">
                                <fieldset>
                                    <legend>Doctor's comments</legend>
                                    <textarea rows="5" cols="5" data-ng-model="vm.formData.doctorComments" maxlength="500"></textarea>
                                </fieldset>
                            </div>
                            <div class="col-sm-12 col-md-4 file-upload">
                                <div class="title">Upload Diagnosis Records</div>
                                <div class="sub-title">(use <kbd>ctrl</kbd> or <kbd>shift</kbd> to select multiple files)</div>
                                <input id="patientReg-dianosis" type="file" multiple="multiple" onchange="angular.element(this).scope().vm.diagnosisFilesSelection(this)">
                                <div class="file-names" ng-show="vm.formData.diagnosisFilesNames.length > 0">
                                    <span ng-repeat="item in vm.formData.diagnosisFilesNames">
                               			{{item}} {{$last ? '' :  ', '}}
                               		</span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4" ng-show="vm.editMode && vm.editFiles.diagFiles.length > 0" style="padding-left: 54px;">
                                <info>Files Uploaded Already</info>
                                <div class="edit-file-names">
                                    <div ng-repeat="doc in vm.editFiles.diagFiles" class="fileName">
                                        <span ng-click="vm.viewDiagFile(doc)" ng-class="{'deleted' : doc.deleted}">{{doc.docName}}</span>
                                        <i class="fa fa-times" ng-click="doc.deleted = true" ng-hide="doc.deleted"></i>
                                        <i class="fa fa-repeat" ng-click="doc.deleted = false" ng-show="doc.deleted"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="panel panel-danger" style="height: 360px;">
                        <div class="panel-heading">
                            Bystander Details
                        </div>
                        <div class="panel-body">
                            <div class="input-box">
                                <label>Bystander Name</label>
                                <input type="text" data-ng-model="vm.formData.bystanderName" maxlength="100" placeholder="Enter name" />
                            </div>
                            <div class="input-box">
                                <label>Bystander Contact</label>
                                <input type="text" data-ng-model="vm.formData.bystanderContact" maxlength="10" placeholder="Enter number" onkeypress="return validatephone(event);" />
                            </div>
                            <div class="input-box">
                                <label>Bystander Relation</label>
                                <select class="form-control" data-ng-model="vm.formData.bystanderRelation">
                                    <option value="">Select Bystander Relation</option>
                                    <option value="{{item.value}}" ng-repeat="item in vm.FamilyRelation">{{item.value}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="panel panel-danger" style="height: 360px;">
                        <div class="panel-heading">
                            Other Details
                        </div>
                        <div class="panel-body">
                            <div class="input-box">
                                <label>How did you know about Cancure</label>
                                <select class="form-control" data-ng-model="vm.formData.knowAboutCancure">
                                    <option value="">Select option</option>
                                    <option value="{{item.value}}" ng-repeat="item in vm.KnowAboutCancure">{{item.value}}</option>
                                </select>
                            </div>
                            <div class="input-box">
                                <label>Recommended By</label>
                                <input type="text" data-ng-model="vm.formData.recommendationName" maxlength="100" placeholder="Enter name" />
                            </div>
                            <div class="input-box">
                                <label>Recommendation type</label>
                                <select class="form-control" data-ng-model="vm.formData.recommendationType">
                                    <option value="">Select Recommendation type</option>
                                    <option value="{{item.value}}" ng-repeat="item in vm.RecommendationType">{{item.value}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 supportingDocs">
                    <div class="panel panel-danger" style="height: 360px;">
                        <div class="panel-heading">
                            Supporting Documents
                        </div>
                        <div class="panel-body">
                            <md-content class="autoScroll">
                                <fieldset>
                                    <legend>Identity, Address and Age Proof</legend>
                                    <md-input-container class="md-icon-float md-block">
                                        <label>Document Category</label>
                                        <md-select data-ng-model="vm.formData.ageProof">
                                            <md-option ng-repeat="item in vm.IDProof" value="{{item.value}}">{{item.value}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <input id="patientReg-ageProof" type="file" aria-label="ageProof" ng-disabled="!vm.formData.ageProof" onchange="angular.element(this).scope().vm.formData.ageProofFile = this.files[0]" />
                                </fieldset>
                                <fieldset>
                                    <legend>Income Proof Details</legend>
                                    <md-input-container class="md-icon-float md-block">
                                        <label>Document Category</label>
                                        <md-select data-ng-model="vm.formData.incomeProof">
                                            <md-option ng-repeat="item in vm.IncomeProof" value="{{item.value}}">{{item.value}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <input id="patientReg-incomeProof" type="file" aria-label="incomeProof" ng-disabled="!vm.formData.incomeProof" onchange="angular.element(this).scope().vm.formData.incomeProofFile = this.files[0]" />
                                </fieldset>
                            </md-content>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row supportingOrg">
                <div class="col-sm-12">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            Supporting Organisations
                            <i class="fa fa-plus-square" aria-hidden="true" ng-if="vm.formData.supportFromOther" ng-click="vm.formData.organisation.push({});"></i>
                            <i class="fa fa-minus-square" aria-hidden="true" ng-show="vm.formData.supportFromOther && vm.formData.organisation.length > 1" ng-click="vm.formData.organisation.pop();"></i>
                        </div>
                        <div class="panel-body">
                            <md-input-container class="md-icon-float md-block" style="margin-bottom: 0px;">
                                <md-checkbox ng-click="vm.clearOrg();" data-ng-model="vm.formData.supportFromOther">
                                    Is the Patient Receiving Support from Other organisations?
                                </md-checkbox>
                            </md-input-container>
                            <div class="col-md-4 col-sm-12 repeatingDiv" ng-if="vm.formData.supportFromOther" ng-repeat="org in vm.formData.organisation">
                                <div class="form-group">
                                    <div class="input-box">
                                        <label>Organisation Name
                                            <req>*</req>
                                        </label>
                                        <input type="text" data-ng-model="org.name" maxlength="100" placeholder="Enter name" required/>
                                    </div>
                                    <div class="input-box">
                                        <label>Amount received
                                            <req>*</req>
                                        </label>
                                        <div class="input-group">
                                            <div class="input-group-addon">₹</div>
                                            <input type="number" data-ng-model="org.amountRec" maxlength="10" placeholder="Enter income" required/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            Preliminary Examination
                            <div class="req-indicator">(Kindly select a hospital for preliminary examination to be done or already done.)</div>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-4 col-xs-12 input-box" style="padding: 0 15px 0 0;">
                                <label>Select Hospital <req>*</req></label>
                                <select class="form-control" data-ng-model="vm.formData.preliminaryExamHospitalId" ng-change="vm.onHospitalChange();" required>
                                    <option value="">Select Hospital</option>
                                    <option value="{{item.hospitalId}}" ng-repeat="item in vm.hospitalList" ng-selected="vm.formData.preliminaryExamHospitalId==item.hospitalId">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="col-md-4 col-xs-12 input-box" style="padding: 0 15px 0 0;">
                                <label>Select Doctor</label>
                                <select class="form-control" data-ng-model="vm.formData.preliminaryExamDoctorId" ng-disabled="!vm.formData.preliminaryExamHospitalId">
                                    <option value="">Select Doctor</option>
                                    <option value="{{item.id}}" ng-repeat="item in vm.doctorList">{{item.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <input type="clear" class="btn btn-warning pull-right" ng-click="vm.initializeVars();" value="Clear Form" readonly>
                <button type="submit" class="btn btn-success pull-right" style="margin-right: 8px;">
                    Register
                </button>
            </div>
        </div>
    </form>
</div>