<section class="content-header">
    <h1>
        Patient Registration Workflow - {{nextTaskObject.nextTask}}
        <div class="req-indicator">(All fields marked <req>*</req> are mandatory.)</div>
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-2 col-xs-12">
                            <div class="timeline-body">
                                <b>PRN : </b>{{prn}}
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="timeline-bowsredy">
                                <b>Patient Name : </b>{{nextTaskObject.patientName}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form name="vm.registerForm" ng-submit="vm.submitTask();" class="clearfix">
                        <div class="row">
                            <div class="input-box col-md-6 col-xs-12" ng-if="doctorList">
                                <label>Doctor List
                                    <req>*</req>
                                </label>
                                <select class="form-control" data-ng-model="vm.formData.people" required>
                                    <option value="">Select a Doctor</option>
                                    <option value="{{doc.doctorId}}" ng-repeat="doc in doctorList">{{doc.name}}</option>
                                </select>
                            </div>
                            <div class="input-box col-md-6 col-xs-12" ng-if="uploadNeeded">
                                <label>Upload File </label>
                                <input id="patientNextTask-file" type="file" multiple="multiple" onchange="angular.element(this).scope().vm.FilesSelection(this)" aria-label="patientFile">
                            </div>
                            <div class="input-box col-xs-12" ng-show="vm.patientFile.length > 0 && vm.patientFileNames.length > 0" multiple="multiple">
                                <label>Selected Files</label>
                                <span ng-repeat="item in vm.patientFileNames">
                               			{{item}} {{$last ? '' :  ', '}}
                               		</span>
                            </div>
                            <div class="input-box col-md-6 col-xs-12" ng-if="vm.statuses">
                                <label>Select Status
                                    <req>*</req>
                                </label>
                                <select class="form-control" data-ng-model="vm.formData.status" required>
                                    <option value="">Select Status</option>
                                    <option value="{{sts.id}}" ng-repeat="sts in vm.statuses">{{sts.name}}</option>
                                </select>
                            </div>
                            <div class="input-box col-xs-12">
                                <label>Enter Comments
                                    <req>*</req>
                                </label>
                                <textarea data-ng-model="vm.formData.comments" required rows="4" maxlength="500"> </textarea>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success" style="margin-right: 8px;">
                                Submit
                            </button>
                            <input type="clear" class="btn btn-warning" ng-click="vm.clearForm();" value="Clear Form">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>