md-menu-item {
    height: 65px;
}

.md-scroll-mask {
    background-color: rgba(0, 0, 0, .2);
}

.home {
    font-size: 1em;
    height: 100%;
    * {
        outline: none;
    }

    .content {
        padding: 24px 12px;
        padding-bottom: 0px;
        position: relative;
        height: calc(100%);
        width: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        .list {
            width: 100%;
            margin: auto;
            .info {
                padding-bottom: 24px;
            }
            .whiteframe {
                margin-bottom: 24px;
                border-radius: 6px;
                padding: 14px;
                position: relative;
                box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
                border: 1px solid rgba(0, 0, 0, .14);
                background: #fff;
                .head {
                    .date {
                        background-color: #00a081;
                        color: #fff;
                        padding: 8px 12px;
                        border-radius: 6px;
                        .day {
                            font-size: 1.4em;
                        }
                    }
                }
                .details {
                    padding: 14px;
                    line-height: normal;
                    .text {
                        color: #a8b4c4;
                        font-size: .8em;
                    }
                    .patientName {
                        width: 100%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-weight: bold;
                    }
                    .nextTask {
                        width: 100%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-weight: bold;
                    }
                    .view-btn {
                        margin-top: 12px;
                        background-color: #fff;
                        color: #ca0000;
                        height: 40px;
                        line-height: 40px;
                        padding: 0 20px;
                        border: 1px solid #ca0000;
                        display: inline-block;
                        float: right;
                        text-align: center;
                        margin-left: auto;
                        border-radius: 6px;
                    }
                    .typeindicator-btn {
                        color: #fff;
                        font-size: 0.8em;
                        padding: 2px 6px;
                        text-align: center;
                        border-radius: 6px;
                        display: inline-block;
                    }
                    .new {
                        background: #9138c7;
                    }
                    .out {
                        background: #d65042;
                    }
                    .in {
                        background: #25c557;
                    }
                }
            }
        }
    }
}



@media all and (max-width: 399px) {
    md-menu-item {
        height: 50px;
    }
    .home {
        .content {
            .no-content {
                .img-hm {
                    display: none;
                }
                .start {
                    img {
                        width: 20%;
                        margin-left: calc(50%);
                    }
                }
            }
        }
    }
}

@media all and (max-width:499px) {
    .home {
        .content {
            .no-content {
                .img-hm {
                    display: none;
                }
                .start {
                    img {}
                }
            }
            .list {
                .whiteframe {
                    .head {
                        .risk {
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
        .new-take2 {
            height: 50px;
            width: 50px;
        }
    }
}

@media all and (min-width: 500px) and (max-width:799px) {
    .home {
        .content {
            .no-content {
                .start {
                    img {}
                }
            }
        }
    }
}

@media all and (min-width: 800px) and (max-width:1000px) {
    .home {
        .content {
            .no-content {
                .welcome {
                    font-size: 1em;
                }
                .start {
                    font-size: 1em;
                    img {
                        width: 10%;
                        margin-left: calc(65%);
                    }
                }
            }
        }
    }
}

@media all and (min-width: 1000px) {
    .home {
        .content {
            .no-content {
                .welcome {
                    font-size: 1em;
                }
                .img-hm {
                    display: block;
                    font-size: .6em;
                    img {
                        height: 65%;
                        margin: auto;
                    }
                }
                .start {
                    font-size: 1em;
                    img {
                        width: 10%;
                        margin-left: calc(65%);
                    }
                }
            }
            .list {
                .whiteframe {
                    height: 320px;
                    .s-25,
                    .s-50 {
                        .date {
                            height: 210px;
                            .day {}
                            span {}
                        }
                    }
                    .s-50 {}
                }
            }
        }
    }
}