<script type="text/javascript">
    // function to validate contact number
    function validatephone(evt) {
    	evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
    
</script>
<div class="content" style="padding-top:0px;">
    <h4 ng-hide="vm.campCreated">
    	Fill the form to create a Camp.
    	<div class="req-indicator">(All fields marked <req>*</req> are mandatory.)</div>
    </h4>
    <h4 ng-show="vm.campCreated">Camp created with the following details.</h4>
    <div ng-hide="vm.campCreated" class="panel panel-info row">
        <div class="panel-body">
            <form ng-submit="vm.createLab();" name="vm.registerForm" autocomplete="off">
                <div class="col-md-4 col-xs-12 input-box">
                    <label>Camp Name <req>*</req></label>
                    <input type="text" data-ng-model="vm.formData.name" required placeholder="Enter Camp name" />
                </div>
                <div class="col-md-4 col-xs-12 input-box">
                    <label>Location <req>*</req></label>
                    <input type="text" data-ng-model="vm.formData.place" required placeholder="Enter Camp Location" />
                </div>
                <div class="col-md-4 col-xs-12 input-box">
                    <label>Camp Date <req>*</req></label>
                    <input id="dobpicker" type="date" data-ng-model="vm.formData.date" required placeholder="Enter Camp Date" onkeydown="return false;"/>
                </div>
                
                <div class="col-md-4 col-xs-12 input-box">
                    <label>Medical Team<req>*</req></label>
                    <select class="form-control" data-ng-model="vm.formData.medicalTeam" required>
                        <option value="">Select Medical Team</option>
                        <option value="{{item.value}}" ng-repeat="item in vm.MedicalTeams">{{item.value}}</option>
                    </select>
                </div>
                
                <div class="col-md-4 col-xs-12 input-box">
                    <label>Local POC Name <req>*</req></label>
                    <input type="text" data-ng-model="vm.formData.pocName" required placeholder="Enter Local POC's Name" />
                </div>
                
                <div class="col-md-4 col-xs-12 input-box">
                    <label>Local POC's Phone<req>*</req></label>
                    <input type="text" data-ng-model="vm.formData.pocPhone" required onkeypress="return validatephone(event);" placeholder="Enter Local POC's Phone" />
                </div>
                
                <div class="col-md-4 col-xs-12 input-box">
                    <label>Local POC's Email Address<req>*</req></label>
                    <input type="email" data-ng-model="vm.formData.pocEmail" required placeholder="Enter Local POC's email"/>
                </div>
                
                <div class="col-xs-12 text-center" style="padding: 0px 15px;">
                    <button type="submit" class="btn btn-success" style="margin-right: 8px;">
                        Save Camp
                    </button>
                    <input type="clear" class="btn btn-warning" ng-click="vm.formData = {};" value="Clear Form" ng-hide="vm.editMode" readonly>
                </div>
            </form>
        </div>
    </div>
    <div ng-show="vm.campCreated" class="panel panel-info" style="padding:15px;">
        <div class="row">
            <div class="col-xs-offset-3 col-xs-6">
                <table class="table table-bordered" style="margin-bottom: 0px;">
                    <th class="col-xs-4">Name</th>
                    <th class="col-xs-4">Address</th>
                    <th class="col-xs-4">Contact</th>
                    <tr>
                        <td class="col-xs-4">{{vm.formData.name}}</td>
                        <td class="col-xs-4">{{vm.formData.address}}</td>
                        <td class="col-xs-4">{{vm.formData.contact}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-xs-12 text-center" style="padding-top: 15px;">
                <button class="btn btn-success" ng-click="vm.formData = {};vm.campCreated=false;">
                    Register another Lab
                </button>
            </div>
        </div>
    </div>
</div>