<section class="content-header">
    <h1 ng-show="vm.editMode">           
        Edit Doctor Details 
        <div class="req-indicator">(All fields marked <req>*</req> are mandatory.)</div>
    </h1>
    <h1 ng-hide="vm.editMode" class="clearfix">           
         Doctor List 
         <button class="btn btn-success pull-right" style="padding: 4px 8px;">
		 	<a style="color: #fff !important;" ui-sref="app.manageUser.createUser"> Add Doctor </a>
         </button>
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info" ng-show="vm.doctorList.length > 0 && !vm.editMode" >
                <table class="table">

                    <th class="col-xs-2">Doctor Name</th>
                    <th class="col-xs-2">Specification</th>
                    <th class="col-xs-2">Address</th>
                    <th class="col-xs-2">Contact No</th>
                    <th class="col-xs-2">Email Address</th>
                    <th class="col-xs-2">Hospital</th>

                    <tr class="" ng-repeat="doct in vm.doctorList">
                        <td class="col-xs-2">{{doct.name}}</td>
                        <td class="col-xs-2">{{doct.specification}}</td>
                        <td class="col-xs-2">{{doct.address}}</td>
                        <td class="col-xs-2">{{doct.contact}}</td>
                        <td class="col-xs-2">{{doct.email}}</td>
                        <td class="col-xs-2">{{doct.hospital.name}}</td>
                    </tr>

                </table>
            </div>
            <div class="warningText" ng-hide="vm.doctorList.length > 0"> No Doctors found</div>
            <div ng-show="vm.editMode" class="panel panel-info">
                <div class="panel-body">
                    <form ng-submit="vm.createDoctor();" name="vm.registerForm" autocomplete="off">
                        <div class="col-md-4 col-xs-12 input-box">
                            <label>Doctor Name
                                <req>*</req>
                            </label>
                            <input type="text" data-ng-model="vm.formData.name" required placeholder="Enter doctor name" />
                        </div>
                        <div class="col-md-4 col-xs-12 input-box">
                            <label>Specialization
                                <req>*</req>
                            </label>
                            <input type="text" data-ng-model="vm.formData.specification" required placeholder="Enter doctor specialization" />
                        </div>
                        <div class="col-md-4 col-xs-12 input-box">
                            <label>Address
                                <req>*</req>
                            </label>
                            <input type="text" data-ng-model="vm.formData.address" required placeholder="Enter address" />
                        </div>
                        <div class="col-md-4 col-xs-12 input-box">
                            <label>Email Address
                                <req>*</req>
                            </label>
                            <input type="email" data-ng-model="vm.formData.email" required placeholder="Enter email address" />
                        </div>
                        <div class="col-md-4 col-xs-12 input-box">
                            <label>Contact
                                <req>*</req>
                            </label>
                            <input type="text" data-ng-model="vm.formData.contact" required placeholder="Enter address" />
                        </div>
                        <div class="col-md-4 col-xs-12 input-box">
                            <label>Hospital
                                <req>*</req>
                            </label>
                            <select class="form-control" data-ng-model="vm.formData.hospital.hospitalId" required>
                                <option value=""> Select a Hospital </option>
                                <option value="{{hospital.hospitalId}}" ng-repeat="hospital in vm.hospitalList" ng-selected="vm.formData.hospital.hospitalId==hospital.hospitalId">{{hospital.name}}</option>
                            </select>
                        </div>
                        <div class="col-xs-12 text-center" style="padding: 0px 15px;">
                            <button type="submit" class="btn btn-success" style="margin-right: 8px;">
                                Update Details
                            </button>
                            <input type="clear" class="btn btn-warning" ng-click="vm.editMode = false;" value="Back"  readonly>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>