<div class="login">
    <!--
    <header>        
    </header>
-->
    <div class="login-wrapper">
        <div class="container">
            <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading text-center">
                        Sign In
                    </div>
                    <div class="panel-body">
                        <form name="vm.loginForm" class="form-horizontal" data-ng-submit="vm.login(vm.getUser);">
                            <md-content class="autoScroll">
                                <md-input-container class="md-icon-float md-block">
                                    <label>Username</label>
                                    <!--                                <md-icon class="fa fa-user"></md-icon>-->
                                    <input type="text" required name="username" data-ng-model="vm.getUser.Username">
                                </md-input-container>

                                <md-input-container class="md-icon-float md-block">
                                    <label>Password</label>
                                    <!--                                <md-icon class="fa fa-lock"></md-icon>-->
                                    <input type="password" required name="password" data-ng-model="vm.getUser.Password">
                                </md-input-container>
                            </md-content>
                            <div class="col-xs-12 login-control" style="padding:0px">
                                <button type="submit" class="btn btn-block btn-success">
                                    Login <span class="glyphicon glyphicon-play"></span>
                                </button>
                            </div>
                            <div class="col-xs-12 margin-top-20" style="padding:0px">
                                <span class="pull-right">
                            <a href="#">Forgot Password?</a>
                        </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
    <footer>       
    </footer>
-->

</div>