<div class="login-wrapper">
    <div class="login-page">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <h1>CANCURE</h1>
                <form name="vm.loginForm" data-ng-submit="vm.login(vm.formData);" ng-show="vm.stateLogin">
                    <div class="form-content">
                        <div class="form-group">
                            <input class="form-control input-underline input-lg" placeholder="Username" required type="text" data-ng-model="vm.formData.Username" ng-disabled="vm.loggingIn">
                        </div>
                        <div class="form-group">
                            <input class="form-control input-underline input-lg" placeholder="Password" required type="password" data-ng-model="vm.formData.Password" ng-disabled="vm.loggingIn">
                        </div>
                        <span class="forgot-pass">Forgot Password ?</span>
                    </div>
                    <button type="submit" class="btn rounded-btn" data-ng-hide="vm.loggingIn">
                        Log in
                    </button>
                    <span data-ng-show="vm.loggingIn">
                    	<i class="fa fa-refresh fa-spin"></i>
                    </span>
                </form>
                <form name="vm.loginForm" data-ng-submit="vm.resetPassword();" ng-show="vm.stateResetPassword">                	
                    <div class="form-content" style=" padding-bottom: 5px;">
                    <div class="resetPassNotify">Hi, Please reset password to login.</div>
                        <div class="form-group">
                            <input class="form-control input-underline input-lg" placeholder="New Password" required type="password" data-ng-model="vm.resetPass.password" ng-disabled="vm.loggingIn">
                        </div>
                        <div class="form-group">
                            <input class="form-control input-underline input-lg" placeholder="Re-type New Password" required type="password" data-ng-model="vm.resetPass.retypePassword" ng-disabled="vm.loggingIn">
                        </div>                        
                    </div>
                    <button type="submit" class="btn rounded-btn" data-ng-hide="vm.loggingIn">
                        Reset Password
                    </button>
                    <span data-ng-show="vm.loggingIn">
                    	<i class="fa fa-refresh fa-spin"></i>
                    </span>
                </form>
            </div>
        </div>
    </div>
    <div class="caption">
        can <span>care.</span> can <span>share.</span> can <span>cure.</span>
    </div>
</div>