<section class="content-header">
    <h1>           
        HPOC List
    </h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info" ng-show="hospitalHpocList.Hospitals.length > 0">
                <table class="table">
                
                    <th class="col-xs-3">Hospital Name</th>
                    <th class="col-xs-3">Hpoc List</th>
                    <th class="col-xs-3"></th>
                    <tr class="" ng-repeat="hos in hospitalHpocList.Hospitals">
                        <td class="col-xs-3">{{hos.name}}</td>
                        <td class="col-xs-3">
                        <div ng-repeat="hpoc in hospitalHpocList.HospitalMappings[hos.hospitalId]">
                                {{hpoc.name}}
                        </div> 
                        </td>
                        <td>
                        	Edit
                        </td>
                    </tr>
                    
                </table>
            </div>
            <div class="warningText" ng-hide="hospitalHpocList.Hospitals.length > 0"> Create Hpoc Mapping First</div>
        </div>
    </div>
</section>